#IIAB Apache2 configuration file

XSendFile on
XSendFilePath /

WSGIScriptAlias /iiab {{ doc_root }}/osm.wsgi

Alias /iiabstatic {{ osm_path }}/static
Alias /osm {{ osm_path }}/static
Alias /maps {{ osm_path }}/static

<Directory {{ osm_path }}/static>
	require all granted
</Directory>
