#IIAB Apache2 configuration file

XSendFile on
XSendFilePath /

WSGIScriptAlias /iiab {{ doc_root }}/osm.wsgi

# For old bitmap/raster tileset
Alias /iiabstatic {{ osm_path }}/static

# For new vector tileset, as documents @ http://download.iiab.io/content/OSM/vector-tiles/
Alias /maps /library/www/html/modules/en-osm-omt-min/
Alias /osm /library/www/html/modules/en-osm-omt-min/

<Directory {{ osm_path }}/static>
	require all granted
</Directory>
