#IIAB Apache2 configuration file

XSendFile on
XSendFilePath /

WSGIScriptAlias /osm {{ doc_root }}/osm.wsgi

{% if is_debuntu %}
Alias /iiabstatic /usr/local/lib/python2.7/dist-packages/iiab/static
Alias /osm /usr/local/lib/python2.7/dist-packages/iiab/static
Alias /maps /usr/local/lib/python2.7/dist-packages/iiab/static
Alias /iiab /usr/local/lib/python2.7/dist-packages/iiab/static

<Directory /usr/local/lib/python2.7/dist-packages/iiab/static>
{% else %}
Alias /iiabstatic /usr/lib/python2.7/site-packages/iiab/static
Alias /osm /usr/lib/python2.7/site-packages/iiab/static
Alias /maps /usr/lib/python2.7/site-packages/iiab/static
Alias /iiab /usr/lib/python2.7/site-packages/iiab/static

<Directory /usr/lib/python2.7/site-packages/iiab/static>
{% endif %}
	require all granted
</Directory>
