[unit]
Description=schooltool
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker stop tool
ExecStartPre=-/usr/bin/docker rm tool
ExecStart=/usr/bin/docker run -d  --name=tool -p 7080:7080 -v /var/lib/schooltool:/var/lib/schooltool ghunt/schooltool
#Restart=always
#RestartSec=10s
Type=notify
NotifyAccess=all
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
