## XS Config override
##
## This file has an ".in" template - for details see
##  see /usr/share/doc/xs-config-<version>/README
#
# Point dhcpd to the XS-specific config
DHCPDARGS='-cf /etc/dhcpd-iiab.conf {{ iiab_lan_iface }}'
