[Unit]
Description=DHCPv4 Server Daemon
After=rc-local.service

[Service]
EnvironmentFile=/etc/sysconfig/dhcpd
ExecStart=/usr/sbin/dhcpd -f --no-pid $DHCPDARGS

[Install]
WantedBy=multi-user.target
