#
# School server 1 DHCP Server Configuration file.
#
ddns-update-style interim;
#ignore client-updates;

option domain-name "{{ xsce_domain }}";
option domain-name-servers      172.18.96.1;
option ntp-servers		172.18.96.1;

subnet 172.18.96.0 netmask 255.255.224.0 {
	option routers			172.18.96.1;
	option subnet-mask		255.255.224.0;
	option broadcast-address	172.18.127.255;
	# this is the whole range we have available - 8K addresses
	# range                           172.18.96.2 172.18.127.254;
	# instead, we'll save 510 addresses for later. 
	range                           172.18.96.2 172.18.125.254;
	# the other /24s:
	# -> 172.18.126.0/24 for static IP addresses
	#    for printers, AP management consoles, etc.
	# -> 172.18.127.0/24 for temporary addresses for 
	#    XO activation
	
        # As this subnet is wired or wifi a/b/g, these lease 
	#    times are on the long side
	default-lease-time 	10800;
	max-lease-time 		21600;
}
