#!/bin/bash -x
# small daemon to identify this machine to the openvpn server

HANDLE=
UUID=
if [ -f /etc/iiab/openvpn_handle ]; then
    # Option #0: might source directly from /etc/iiab/local_vars.yml in future
    # Option #1
    HANDLE=`cat /etc/iiab/openvpn_handle`
else
    # Option #2: dangerous to invoke hypothetical variables :(
    source /etc/iiab/iiab.env
    # Option #3: WAS BUGGY IN AUGUST 2018, but safer now that relegated to #3 ?
    if [ -z "$HANDLE" ]; then
        HANDLE=`cat /etc/iiab/iiab.ini | gawk \
        '{ if((toupper($1) == "HANDLE") && ($2 == "=")) { print $3;}}'`
    fi
fi
HANDLE=${HANDLE// /_}
if [ -f /etc/iiab/uuid ]; then
    UUID=`cat /etc/iiab/uuid`
fi

SERVER=/usr/bin/ncat
ID=`printf "HANDLE = %s|UUID = %s" $HANDLE $UUID`
#ID=`printf "HANDLE = %s|UUID = %s|" $HANDLE $UUID`

# start the daemon which will serve the handle on demand
{% if is_debuntu %}
$SERVER -l -k -p1705 --exec "/bin/echo $ID" &
{% else %}
source /etc/init.d/functions
PID_FILE=/var/run/openvpn/announce.pid
daemon --pidfile=${PID_FILE} $SERVER "-l -k -p1705 --exec \"/usr/bin/echo $ID\"" &
#daemon --pidfile=${PID_FILE} $SERVER "-l -k -p1705 --exec \"/usr/bin/echo $(printf 'HANDLE = %s|UUID = %s' $HANDLE $UUID)\"" &
{% endif %}
