#!/bin/bash
# Interactive script (over)writes /etc/iiab/openvpn_handle file, identifying client to server

echo -e '\n\nCORRECT METHOD: CHANGE VARIABLE openvpn_handle IN /etc/iiab/local_vars.yml'
echo -e 'THEN RUN "cd /opt/iiab/iiab" THEN "./runrole openvpn"\n'

read -p "Or, for a temporary solution until the next time Ansible is run, what OpenVPN handle do you want to use? " ans
if [ "$ans" == "" ]; then
    if [ -f /etc/iiab/openvpn_handle ]; then
        rm -f /etc/iiab/openvpn_handle
    fi
else
    echo $ans > /etc/iiab/openvpn_handle
fi
{{ systemctl_program }} restart openvpn@xscenet
