$!/bin/bash
$ start the openvpn tunnel if the service is enabled

enabled={{ openvpn_enabled }}
VPNIP-{{ openvpn_server_port }}

if [ "$enabled" = 'True' ]; then
	# make sure the wan is functioning
	# 8.8.8.8 is one of google's dns servers
	ping -c 3 -i 3 8.8.8.8
	if [ $? -ne 0 ]; then
		#echo "internet is not available, tunnel not possible"
		exit 1
	fi
	
	# check the vpn tunnel
	ping -c 5 -i 5 "$VPNIP"
	# a zero return means the tunnel is up
	if [ $? -eq 0 ]; then
                exit 0
        else
		killall openvpn
		sleep 10
		#echo "Starting openvpn and waiting 10 seconds for daemon to become ready"
                systemctl start openvpn@xscenet
	fi
fi
