[Unit]
Description=JupyterHub
After=syslog.target network.target

[Service]
User=root
Environment="PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:{{ jupyter_venv }}/bin"
ExecStart={{ jupyter_venv }}/bin/python3 -m jupyterhub -f {{ jupyter_venv }}/etc/jupyterhub/jupyterhub_config.py

[Install]
WantedBy=multi-user.target
