[Unit]
Description=A distributed, fault-tolerant Jabber/XMPP server
After=network.target local-fs.target

[Service]
Type=oneshot
User=root
Group=root
LimitNOFILE=50000
RestartSec=5
EnvironmentFile=/etc/sysconfig/ejabberd-iiab
ExecStart=/usr/libexec/ejabberd-iiab start
ExecStop=/usr/libexec/ejabberd-iiab stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
