[Unit]
Description=Move local_vars.yml from /boot
{% is_raspbian %}
ConditionPathExists=/boot/local_vars.yml
{% endif %}
{% is_ubuntu %}
ConditionPathExists=/boot/firmware/local_vars.yml
{% endif %}
Before=iiab-provison.service

[Service]
Type=oneshot
RemainAfterExit=yes
{% is_raspbian %}
ExecStart=/bin/mv /boot/local_vars.yml /etc/iiab/local_vars.yml
{% endif %}
{% is_ubuntu %}
ExecStart=/bin/mv /boot/firmware/local_vars.yml /etc/iiab/local_vars.yml
{% endif %}
ExecStartPost=/bin/chmod 666 /etc/iiab/local_vars.yml

[Install]
WantedBy=multi-user.target

