[Unit]
Description=MySql config service
After=mariadb.service
Requires=mariadb.service

[Service]
Type=oneshot
WorkingDirectory=/opt/iiab/iiab
ExecStart=/opt/iiab/iiab/runrole db-setup /opt/iiab/iiab/db-setup.log
ExecStartPost=/bin/systemctl disable iiab-setup-mysql.service

[Install]
WantedBy=multi-user.target
