[Unit]
Description=Execute startup script  
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/iiab-startup.sh

[Install]
WantedBy=multi-user.target
