[Unit]
Description=IIAB provision service
After=mariadb.service
Requires=mariadb.service

[Service]
Type=oneshot
WorkingDirectory={{ iiab_dir }}
ExecStartPre=/bin/touch /run/iiab-provision
ExecStart={{ iiab_dir }}/iiab-configure
ExecStartPost=/bin/systemctl disable iiab-provision.service
ExecStartPost=/bin/rm /run/iiab-provision

[Install]
WantedBy=multi-user.target
