[Unit]
Description=Execute startup script  
After=network.target
Before=iiab-mv-localvars.service
Before=iiab-setup-mysql.service
Before=iiab-provison.service
Before=openvpn.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/iiab-startup.sh

[Install]
WantedBy=multi-user.target
