[Unit]
Description=Captive portal
After=syslog.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/iiab/captive-portal
ExecStart=/opt/iiab/captive-portal/captive_portal.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
