# Basic configuration

interface={{ xsce_wireless_lan_iface }}
ssid={{ host_ssid }}
channel={{ host_channel }}
{%if xsce_lan_iface  == "br0" %}
bridge=br0
{% endif %}

# Hardware configuration
driver={{ driver_name }}
{%if host_wireless_n %}
ieee80211n=1
{% endif %}
country_code={{ host_country_code }}
# limit emissions to what is legal in country
ieee80211d=1
hw_mode={{ host_wifi_mode }}

{%if hostapd_secure %}
# Use WPA authentication
auth_algs=1
# Use WPA2
wpa=2
# Use a pre-shared key
wpa_key_mgmt=WPA-PSK
# The network passphrase
wpa_passphrase={{ hostapd_password }}
# Use AES, instead of TKIP
rsn_pairwise=CCMP
{% endif %}