[Unit]
Description=Hostapd IEEE 802.11 AP, IEEE 802.1X/WPA/WPA2/EAP/RADIUS Authenticator
Wants=network-pre.target
After=network-pre.target
{% if is_rpi %}
Before=dhcpcd.service
{% endif %}
Before=network.target

[Service]
Type=idle
PIDFile=/run/hostapd.pid
ExecStartPre=-/sbin/iw phy phy0 interface add ap0 type __ap
ExecStartPre=-/sbin/ip link set ap0 address {{ ap0_mac_addr }}
ExecStart=/usr/sbin/hostapd -P /run/hostapd.pid /etc/hostapd/hostapd.conf
ExecStartPost=-/sbin/ip link set ap0 up
ExecStopPost=-/sbin/iw dev ap0 del

[Install]
WantedBy=multi-user.target
