[Unit]
Description=IIAB find channel freq for ssid
Requisite=sys-subsystem-net-devices-{{ discovered_wireless_iface }}.device
Requisite=iiab-clone-wifi.service
Requisite=wpa_supplicant.service

# 2023-04-24 PR #3549: c49adcf went too far and broke netplan-systemd
#Requires=network-pre.target
#BindsTo=sys-subsystem-net-devices-{{ discovered_wireless_iface }}.device
#After=sys-subsystem-net-devices-{{ discovered_wireless_iface }}.device
#After=iiab-clone-wifi.service

#After=network-pre.target
#After=wpa_supplicant.service
#Wants=wpa_supplicant.service

After=NetworkManager.service
After=netplan-wpa-{{ discovered_wireless_iface }}.service
Before=dhcpcd.service
Before=wpa_supplicant@{{ discovered_wireless_iface }}.service
#Before=network.target

[Service]
TimeoutStartSec=120
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/iiab-test-wifi

[Install]
WantedBy=multi-user.target
