[Unit]
Description=IIAB find channel freq for ssid
After=wpa_supplicant.service
Wants=wpa_supplicant.service
Before=hostapd.service
Before=dhcpcd.service
Before=wpa_supplicant@{{ discovered_wireless_iface }}.service
Before=NetworkManager.service
Before=netplan-wpa-{{ discovered_wireless_iface }}.service
Before=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/iiab-test-wifi

[Install]
WantedBy=multi-user.target
