[Unit]
Description=IIAB find channel freq for ssid
Requisite=sys-subsystem-net-devices-wlan0.device
Requisite=iiab-clone-wifi.service
Requisite=wpa_supplicant.service
After=NetworkManager.service
After=netplan-wpa-{{ discovered_wireless_iface }}.service
Before=dhcpcd.service
Before=wpa_supplicant@{{ discovered_wireless_iface }}.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/iiab-test-wifi

[Install]
WantedBy=multi-user.target
