Types: deb
Trusted: yes
URIs: https://repo.mongodb.org/apt/ubuntu/
#{% if rpi_model != "none" %} # rpi_image isn't in master yet
{% if dpkg_arch.stdout == "arm64" %}
Suites: focal/mongodb-org/{{ mongodb_version }}
{% else %}
Suites: jammy/mongodb-org/{{ mongodb_version }}
{% endif %}
Components: multiverse
Signed-By: /etc/apt/keyrings/mongodb.gpg
