Types: deb
URIs: https://repo.mongodb.org/apt/ubuntu/
{% if rpi_model != "none" %}
Suites: focal/mongodb-org/{{ mongodb_version }}
{% else %}
Suites: jammy/mongodb-org/{{ mongodb_version }}
{% endif %}
Components: multiverse
Signed-By: /etc/apt/keyrings/mongodb.gpg
