[Unit]
Description=High-performance, schema-free document-oriented database
After=syslog.target network.target
 
[Service]
Type=simple
User=mongodb
Group=mongodb
ExecStartPre=/usr/bin/mongod --repair --dbpath {{ mongodb_db_path }}
ExecStart=/usr/bin/mongod -f {{ mongodb_conf }}
ExecStop=/usr/bin/killall mongod
 
[Install]
WantedBy=multi-user.target
