---
extends: default

rules:
  line-length:
    max: 1000

  truthy:
    allowed-values: ["True", "False", "yes", "no", "true", "false"]
    check-keys: True

  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1

  comments:
    min-spaces-from-content: 1

  comments-indentation: False
  document-start: disable

  octal-values:
    forbid-implicit-octal: True
    forbid-explicit-octal: True
