[Unit]
Description=Provides the OLPC laptop identity service
After=syslog.target network.target local-fs.target

[Service]
Type=forking
PIDFile=/var/run/idmgr.pid
ExecStart=/usr/libexec/idmgr.init  start 
ExecStop=/usr/libexec/idmgr.init stop

[Install]
WantedBy=multi-user.target
