[Unit]
Description=Bluetooth NEP PAN
#After=br0.network
Before=network.target
After=network-pre.target
Requires=network-pre.target
After=NetworkManager.service

[Service]
ExecStart=/usr/bin/bt-network -s nap br0
ExecStartPost=/usr/bin/iiab-bt-pan-discoverable-on
Type=simple

[Install]
WantedBy=multi-user.target

