#!/bin/bash

systemctl disable bt-agent
# for some reason this service is really slow to stop and can't do anything without bt-pan
#systemctl stop bt-agent

systemctl disable bt-pan
systemctl stop bt-pan

bluetoothctl <<EOF
discoverable off
EOF
