[Unit]
Description=WPA supplicant daemon (interface-specific version)
Requires=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device
Before=network.target dhcpcd.service
Wants=network.target

# NetworkManager users will probably want the dbus version instead.

[Service]
Type=simple
ExecStartPre=/bin/bash /opt/iiab/iiab/scripts/09-clone
ExecStart=/sbin/wpa_supplicant -c/etc/wpa_supplicant/wpa_supplicant.conf -Dnl80211,wext -i%I
ExecStartPost=/bin/bash /opt/iiab/iiab/scripts/11-set-freq

[Install]
Alias=multi-user.target.wants/wpa_supplicant@%i.service
