# SEE ALSO: https://github.com/janeczku/calibre-web/wiki/Setup-Reverse-Proxy

# Line used to work (in August 2018) but prevented http://box/books from working in October 2018: https://github.com/iiab/iiab/issues/1196
#<VirtualHost *:80>

# Unnec when "{{ calibreweb_url1 }}" is added to Proxy* directive(s) further below
#    <Location "{{ calibreweb_url1 }}" >

# 2019-07-14: this line remains necessary (page barely renders without it!)
RequestHeader set X-SCRIPT-NAME {{ calibreweb_url1 }}

# Appears unnec:
#RequestHeader set X-SCHEME http

ProxyPass {{ calibreweb_url1 }} http://localhost:{{ calibreweb_port }}/
ProxyPass {{ calibreweb_url2 }} http://localhost:{{ calibreweb_port }}/
ProxyPass {{ calibreweb_url3 }} http://localhost:{{ calibreweb_port }}/

# Possibly unnec?  (ProxyPassReverse rewrites internal links, that come back
# from Apache proxy.  Whereas e.g. kiwix.conf doesn't need this, as kiwix itself
# prefixes URLs, thanks to --urlRootLocation=/kiwix/ in its systemd file.)
ProxyPassReverse {{ calibreweb_url1 }} http://localhost:{{ calibreweb_port }}/
ProxyPassReverse {{ calibreweb_url2 }} http://localhost:{{ calibreweb_port }}/
ProxyPassReverse {{ calibreweb_url3 }} http://localhost:{{ calibreweb_port }}/

#    </Location>

#</VirtualHost>
