Description=Calibre-Web

[Service]
Type=simple
Environment=CALIBRE_DBPATH={{ calibreweb_home }}
Environment=ARGS=-p {{calibreweb_home}}{{ calibreweb_database }}
User={{ calibreweb_user }}
ExecStart={{ calibreweb_exec_path }} $ARGS
WorkingDirectory={{ calibreweb_path }}

[Install]
WantedBy=multi-user.target
