<VirtualHost *:80>
    <Location "{{ calibre_web_url }}" >
        RequestHeader set X-SCRIPT-NAME {{ calibre_web_url }}
        RequestHeader set X-SCHEME http
        ProxyPass http://localhost:{{ calibre_web_http_port }}/
        ProxyPassReverse http://localhost:{{ calibre_web_http_port }}/
    </Location>
</VirtualHost>
