Description=Calibre-Web

[Service]
Type=simple
User={{ calibreweb_user }}
EnvironmentFile={{ calibreweb_home }}/cps.conf
ExecStart=/usr/bin/python {{ calibreweb_exec_path }} $ARG1 $ARG2
WorkingDirectory={{ calibreweb_path }}

[Install]
WantedBy=multi-user.target
