#<VirtualHost *:80>    # This line (which used to work) prevented http://box/books from working as of October 2018 (https://github.com/iiab/iiab/issues/1196)
#    <Location "{{ calibreweb_url }}" >                            # Line unnec when "/proxy" added to Proxy* directives below
RequestHeader set X-SCRIPT-NAME {{ calibreweb_url }}
RequestHeader set X-SCHEME http                                    # Line unnec?
ProxyPass /books http://localhost:{{ calibreweb_port }}/
ProxyPassReverse /books http://localhost:{{ calibreweb_port }}/    # Line unnec?
#    </Location>
#</VirtualHost>
