Description=Calibre-Web

[Service]
Type=simple
User={{ calibreweb_user }}
ExecStart=/usr/bin/python "{{ calibreweb_exec_path }}"
WorkingDirectory={{ calibreweb_path }}

[Install]
WantedBy=multi-user.target
