location {{ wp_url }} { 
    #rewrite_log on;
    root {{ content_base }};
    
    location ~ .*\.php$ {
          
          include fastcgi_params;
          fastcgi_pass php;
          fastcgi_index index.php;         
          fastcgi_param   SCRIPT_FILENAME    $document_root$fastcgi_script_name;          
       }
    
    location ~ ^({{ wp_url }})(/.*)/$ {           
          include fastcgi_params;
          fastcgi_pass php;
          fastcgi_index index.php;          
          fastcgi_param   SCRIPT_FILENAME    {{ wp_abs_path }}/index.php;          
       }         
}
