[buildout]
extends = base.cfg
develop = .

[versions]
# Unset versions of packages you want to develop
schooltool =

[package]
eggs += schooltool
       schooltool.gradebook
       schooltool.lyceum.journal
       schooltool.intervention

[test]
eggs = schooltool [test]

# To run selenium tests:
# - Download standalone selenium server from
#     http://code.google.com/p/selenium/downloads/list
# - Start the server: "java -jar selenium-server-standalone-2.7.0.jar"
# - Uncomment the lines below:
#
#selenium.default = html_unit
#selenium.html_unit.web_driver = remote
#selenium.html_unit.capabilities = HTMLUNITWITHJS
