<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
<name replace-wildcards="yes">MGMT console at %h </name>
<service>
<type>_https._tcp</type>
<port>{{ gui_port }}</port>
</service>
</service-group>
