[Unit]
Description=NoDogSplash Captive Portal
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/nodogsplash -d 5 $OPTIONS
ExecStop=/usr/bin/ndsctl stop
Restart=on-failure

[Install]
WantedBy=multi-user.target