<!DOCTYPE html>
<html>
<head>
<!--
A client is authenticated by requesting the page $authtarget.
	So, href to it here, with an img or link text the user can click on.
	Alternatively submit an HTTP form method=get, passing $authaction, $tok and $redir
	Also, note that any images you reference must reside in the
	subdirectory that is the value of $imagesdir (default: "images").

Available variables:
	error_msg: $error_msg
	gatewayname: $gatewayname
	tok: $tok
	redir: $redir
	authaction: $authaction
	denyaction: $denyaction
	authtarget: $authtarget
	clientip: $clientip
	clientmac: $clientmac
	gatewaymac: $gatewaymac
	nclients: $nclients
	maxclients: $maxclients
	uptime: $uptime
	imagesdir: $imagesdir
	pagesdir: $pagesdir

Additional Variables that can also be passed back via HTTP get.
Or just append them to the authentication link:
	nodoguser
	nodogpass
	info
	voucher
-->

<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='shortcut icon' href='$imagesdir/splash.jpg' type='image/x-icon' />
<title>$gatewayname Entry</title>

<style>
body
{
background-color:lightgrey;
color:black;
max-width: 500px;
margin: auto;
text-align: left;
}

img
{
width: 40%;
max-width: 180px;
margin-left: 0%;
margin-right: 5%;
}

input[type=submit]
{
color:black;
margin-left: 0%;
margin-right: 5%;
text-align:left;
font-size: 1.0em;
line-height: 2.5em;
font-weight: bold;
border: 1px solid;
}
</style>
</head>

<body>
<br>
<h3>If not redirected to Internet in a Box, <BR>Please click Continue Button.</h3>
<br>
<br>

<form method='get' action='$authaction'>
<input type='hidden' name='tok' value='$tok'>
<input type='hidden' name='redir' value='http://{{ iiab_hostname }}.{{ iiab_domain }}{{ iiab_home_url }}'>
<input type='submit' value='Continue to Internet in a Box'>
</form>

</body>
<script type="text/javascript">
</script>
</html>
