[Unit]
Description=Magrit
After=network-online.target

[Service]
Type=simple
WorkingDirectory={{ internetarchive_dir }}
ExecStart=/usr/bin/node {{ internetarchive_dir }}/internetarchive -s
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=internetarchive

[Install]
WantedBy=multi-user.target

