[Unit]
Description=Magrit
After=network-online.target

[Service]
Type=simple
WorkingDirectory={{ distweb_dir }}
ExecStart=/usr/bin/node {{ distweb_dir }}/internetarchive -s
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=distweb

[Install]
WantedBy=multi-user.target

