[Unit]
Description=Root Filesystem Auto-Resizer
DefaultDependencies=no
After=systemd-remount-fs.service
Before=dphys-swapfile.service

[Service]
Environment=TERM=linux
Type=oneshot
TimeoutStartSec=300
ExecStart=/usr/sbin/iiab-rpi-max-rootfs.sh
StandardError=syslog
RemainAfterExit=yes

[Install]
WantedBy=local-fs.target
