# This is a configuration file for IIAB
# It can be sourced in a shell script or read into an application
IIAB_BASE_PATH={{ iiab_base }}
IIAB_DIR={{ iiab_dir }}
IIAB_RELEASE={{ iiab_base_ver }}
IIAB_REVISION=
IIAB_GATEWAY_ENABLED={{ iiab_gateway_enabled }}
LAN_IP={{ lan_ip }}
OS={{ ansible_local.local_facts.os }}
OS_VER={{ ansible_local.local_facts.os_ver }}
WWWROOT={{ doc_root }}
STAGE=1
FQDN={{ iiab_fqdn }}
