# This is a configuration file for XSCE
# It can sourced in a shell script or read into an application
XSCE_BASE_PATH={{ iiab_base }}
XSCE_DIR={{ iiab_dir }}
OS_VER={{ lookup("env","OS_VER") }}
export OS_VER
OS={{ lookup("env","OS") }}
export OS
WWWROOT={{ doc_root }}
