[Unit]
Description=Root Filesystem Auto-Expander
DefaultDependencies=no
After=systemd-remount-fs.service
Before=dphys-swapfile.service

[Service]
Environment=TERM=linux
Type=oneshot
ExecStart=/usr/sbin/iiab-expand-rootfs
# "Standard output type syslog is obsolete"
# StandardError=syslog
# WHEREAS StandardError=journal is the default, per https://www.freedesktop.org/software/systemd/man/systemd.exec.html#StandardOutput=
RemainAfterExit=yes

[Install]
WantedBy=local-fs.target
