[Unit]
Description=Root Filesystem Auto-Resizer
DefaultDependencies=no
After=fake-hwclock.service
Before=systemd-fsck-root.service
Before=systemd-fsckd.service
Before=dphys-swapfile.service

[Service]
Environment=TERM=linux
Type=oneshot
TimeoutStartSec=300
ExecStart=/usr/sbin/iiab-rpi-max-rootfs.sh
StandardError=syslog
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
