# This is a configuration file for XSCE
# It can sourced in a shell script or read into an application
XSCE_BASE_PATH={{ xsce_base }}
XSCE_DIR={{ xsce_dir }}
OS={{ ansible_distribution }}
WWWROOT={{ doc_root }}
