[Unit]
Description=Root Filesystem Auto-Resizer

[Service]
Environment=TERM=linux
Type=oneshot
ExecStart=/usr/sbin/xsce-rpi-max-rootfs.sh
StandardError=syslog
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
