[Unit]
Description=Provides the XSCE Command Server
After=syslog.target network.target local-fs.target

[Service]
Type=forking
PIDFile=/var/run/xsce-cmdsrv.pid
{% if is_debian %}
ExecStart=/etc/init.d/xsce-cmdsrv  start 
{% else %}
ExecStart=/usr/libexec/xsce-cmdsrv  start 
{% endif %}
ExecStop=/usr/bin/xsce-cmdsrv-ctl STOP

[Install]
WantedBy=multi-user.target
