[Unit]
Description=Provides the Calibre Book Server
After=syslog.target network.target local-fs.target

[Service]
Type=forking
PIDFile=/var/run/calibre.pid
{% if is_debian %}
ExecStart=/usr/bin/calibre-server --daemonize --pidfile=/var/run/calibre.pid --port={{ calibre_port }} --with-library={{ calibre_dbpath }} 
{% else %}
ExecStart=/bin/calibre-server --daemonize --pidfile=/var/run/calibre.pid --port={{ calibre_port }} --with-library={{ calibre_dbpath }} 
{% endif %}
[Install]
TimeoutStartSec=900
WantedBy=multi-user.target
