[Unit]
Description=Provides the Calibre Book Server
After=syslog.target network.target local-fs.target

[Service]
Type=forking
PIDFile=/var/run/calibre.pid
TimeoutStartSec=400
ExecStart=/usr/bin/calibre-server --daemonize --log=/var/log/calibre.log --pidfile=/var/run/calibre.pid --port={{ calibre_port }} --enable-auth --userdb={{ calibre_userdb }} {{ calibre_dbpath }}

[Install]
TimeoutStartSec=900
WantedBy=multi-user.target
