#!/bin/bash
# Remove symlink in /library/content to autmounted usb drive
#
# based on a similar script in the xs-rsync package
# by Martin Langhoff <martin@laptop.org>
#
# and the adaptation for xs-activity-server by Douglas Bagnall
# <douglas@paradise.net.nz>
#
# by Tim Moody tim@timmoody.com
#    Jerry Vonau jvonau3@gmail.com
#
# exported from usbmount
# UM_DEVICE="$device"
# UM_MOUNTPOINT="$mountpoint"
# UM_FILESYSTEM="$fstype"

CONTENT_LINK_USB=$(basename $UM_MOUNTPOINT | awk '{print toupper($0)}')
CONTENT_LINK="{{ doc_root }}/local_content/$CONTENT_LINK_USB"

logger -p user.notice -t "usbmount - usb_lib (70-usb-library)" -- "Attempting to remove link $CONTENT_LINK."

if [ -L $CONTENT_LINK ]; then
    rm -f $CONTENT_LINK
    logger -p user.notice -t "usbmount - usb_lib (70-usb-library)" -- "$CONTENT_LINK removed."
fi
