## Get the app and start coding offline

This is an **early, experimental** version of Code on the Go, the offline-first Android IDE. This release is intended for Android developers who are comfortable testing rough software and providing constructive feedback.

## Installation and setup

You can download the preview APK at the bottom of this page. Please follow the prompts during setup. The app requires the following permissions:

- Notifications
- Storage
- Install packages
- Overlay window

## Using Code on the Go

No internet connection is required to use Code on the Go, and your device does not need to be online to write code or build apps. In this early release, you can:

- Write, edit, and debug Android project code on your device
- Compile and build apps locally
- Manage projects offline

## Known limitations

Please note the following:

- Some features are incomplete or missing
- Stability may vary across devices
- UI and interactions are provisional

## Get help

To get help at any time, long-press anything to display a brief tooltip with links to more detailed documentation.


## Download

Code on the Go is updated weekly, the version being hosted on this site is: **{{ cotg_version }}**  
If you want to get details about the latest release; please visit [https://www.appdevforall.org/codeonthego/](https://www.appdevforall.org/codeonthego/)

<div class="download-button-wrapper">
  <a href="static/apk/{{ code_apk_64bit_filename }}" class="download-button">Download Code on the Go (64-bit ARM devices)</a>
</div>

<!-- <div class="download-button-wrapper">
  <a href="static/apk/{{ code_apk_32bit_filename }}" class="download-button">Download Code on the Go (32-bit ARM devices)</a>
</div> -->

## Online resources

Find some useful resources online to interact with the community of users and developers behind Code on the Go.

- [Online APK repo](https://appdevforall.org/apk_repo/)
- [Repo archive](https://appdevforall.org/apk_repo/archive/)
- [GitHub Issues page](https://github.com/appdevforall/CodeOnTheGo/issues)
- [Telegram Official Channel](https://t.me/CodeOnTheGoOfficial)
- [Telegram Discussion Group](https://t.me/CodeOnTheGoDiscussions)

## Disclaimer

This is pre-release software. Use at your own risk.

> By using this build, you acknowledge that it may be unstable and incomplete.
