# Create apps on your phone.
# No computer or internet required.

Have you ever thought "I wish I had an app for that?" Code on the Go lets you build the app yourself right on your phone, using the same tools that Android programmers use.

So, if you're a developer, or just curious about coding on a phone, install the app and explore!

This version doesn't include any plugins (which add more capabilities) or beginner lessons, but both of them will be available soon.

## What you need

You need an Android phone or tablet with:

- Android 9 or later
- Free space: At least 1.5 GB available at the time of installation. After installation, you can delete the installer APK to regain around 670 MB of free space.
- Recommended RAM: 2 GB or more.
- 64-bit architecture. The most reliable way to find out if you have 64-bit architecture is to try installing the app. Future releases of Knowledge to Go will include both 32-bit and 64-bit versions of Code on the Go, so if your phone isn't supported now, it will be supported soon.

## How to install Code on the Go

### Download and install the app

1. After reading these instructions, tap the Download Code on the Go button at the bottom of this page. The Code on the Go installer APK will be downloaded to your device.
2. In the phone's Downloads folder, tap CodeOnTheGo-latest.apk to install it.

### Dismiss the warning

When you install Code on the Go, your phone may offer to block the app. To continue installing, follow these steps:

1. Tap More details.
2. Tap Install anyway.
3. If you are asked to confirm the choice, enter the requested information. Depending on how your phone is set up, you may need to enter a PIN, a password, a thumbprint, or a pattern.

**TIP:** If you accidentally dismiss the screen, tap the APK file in the Downloads folder to restart the installation.

When the installation is complete, a dialog box asking to open the app is displayed.

### Give Code on the Go the required permissions

1. When it's installed, tap to open the app. A welcome screen is displayed.
2. Tap the right arrow button to continue. A dialog box about privacy and analytics is displayed.
3. Choose one of the following options:
   - **Share anonymous data:** This option shares information about Code on the Go with the developers but does not share your name or your exact location, only your general region. The information is only sent if you are connected to the internet.
   - **Keep offline:** If you don't want to share information with the developers, tap this button.
4. On the screen that asks for permissions, give Code on the Go each permission. The exact steps depend on the kind of phone you have. Press the back arrow button after each permission to return to Code on the Go.
5. When the permissions are granted, tap Finish installation. The installation will continue. When the installation is over, the main Code on the Go menu will be displayed.

## Download Code on the Go

Code on the Go is updated weekly; the version hosted on this site is **latest** as of **{{ code_play_build_date }}**.
For details about the latest release, please visit [{{ code_fetch_apk_url }}]({{ code_fetch_apk_url }}).

<div class="download-button-wrapper">
  <a href="static/apk/{{ code_apk_64bit_filename }}" class="download-button">Download Code on the Go (64-bit ARM devices)</a>
</div>

<!-- <div class="download-button-wrapper">
  <a href="static/apk/{# {{ code_apk_32bit_filename }} #}" class="download-button">Download Code on the Go (32-bit ARM devices)</a>
</div> -->

## Get help

To get help anywhere in Code on the Go, long-press anything to display a tooltip that contains links to more information. If you have internet access, you can visit the following sites:

- Support forum: [github.com/appdevforall/CodeOnTheGo/discussions](https://www.github.com/appdevforall/CodeOnTheGo/discussions)
- Telegram channel: [t.me/CodeOnTheGoOfficial](https://t.me/CodeOnTheGoOfficial)
- Web site: [appdevforall.org](https://www.appdevforall.org/)

