## Descargue la app y comience a programar sin conexión

Esta es una versión **temprana, experimental** de Code on the Go, el IDE para Android diseñado para funcionar sin conexión. Esta versión está dirigida a desarrolladores de Android que se sientan cómodos probando software en desarrollo y proporcionando comentarios constructivos.

## Instalación y configuración

Puedes descargar el APK de vista previa al final de esta página. Sigue las instrucciones durante la instalación. La app requiere los siguientes permisos:

- Notificaciones
- Almacenamiento
- Instalar paquetes
- Ventana superpuesta

## Uso de Code on the Go

No se requiere conexión a internet para usar Code on the Go, y tu dispositivo no necesita estar conectado para escribir código ni crear apps. En esta versión preliminar, puedes:

- Escribir, editar y depurar código de proyectos Android en tu dispositivo
- Compilar y generar aplicaciones localmente
- Administrar proyectos sin conexión

## Limitaciones conocidas

Ten en cuenta lo siguiente:

- Algunas funciones están incompletas o no están disponibles
- La estabilidad puede variar según el dispositivo
- La interfaz de usuario y las interacciones son provisionales

## Obtenga ayuda

Para obtener ayuda en cualquier momento, mantén pulsado cualquier elemento para ver una breve descripción emergente con enlaces a documentación más detallada.

## Descargar

Code on the Go es actualizado semanalmente, la versión siendo alojada por esta página es: **{{ cotg_version_raw.stdout }}**   
Si desea conocer los detalles acerca de la versión mas reciente; por favor visite [https://www.appdevforall.org/codeonthego/](https://www.appdevforall.org/codeonthego/)

<div class="download-button-wrapper">
  <a href="static/apk/{{ code_arm64_release_apk[0].filename }}" class="download-button">Descargue Code on the Go (dispositivos ARM de 64 bits)</a>
</div>

## Recursos en línea

Encuentre algunos recursos útiles en línea para interactuar con la comunidad de usuarios y desarrolladores detrás de Code on the Go.

- [Repositorio APK en línea](https://appdevforall.org/apk_repo/)
- [Archivo del repositorio](https://appdevforall.org/apk_repo/archive/)
- [Pagina de Incidencias de GitHub](https://github.com/appdevforall/CodeOnTheGo/issues)
- [Canal Oficial de Telegram](https://t.me/CodeOnTheGoOfficial)
- [Grupo de Discusión de Telegram](https://t.me/CodeOnTheGoDiscussions)

## Descargo de responsabilidad

Este es un software en fase de prelanzamiento. Úselo bajo su propia responsabilidad.

> Al usar esta versión, usted reconoce que puede ser inestable e incompleta.
