location = /maps {
    return 302 /maps/;
}

location ~ ^/maps/ {

    # These seemed to be required to get around a bug in serving pmtiles.
    # One of these was only required for Firefox.
    # For partial insight, see: https://github.com/protomaps/PMTiles/issues/584
    location ~ "\.(pmtiles)$" {
        chunked_transfer_encoding off;
        gzip off;
    }

    # We can gzip each of the json files in the static search "database" and
    # send them across the wire as-is instead of the usual of storing them
    # plaintext and gzipping them before sending. This saves disk space.
    location ~ "^/maps/static-search/" {
        gzip_static on;
    }

    root /library/www/osm;
}
