#!/usr/bin/python3

import json, subprocess, sys
from pathlib import Path

maps_serve_path = Path('{{ maps_serve_path }}')
maps_fallback_path = Path('{{ maps_fallback_path }}')

# NOTE - Our intention is to (very) soon read the latest version of this file
# from github.com rather than within the repository. This is an intermediary
# step.
catalog = json.load(open("/opt/iiab/iiab/roles/maps/maps-catalog.json", "r"))["data"]

VECTOR_FALLBACK_ZOOM = "{{ maps_fallback_vector_zoom }}"
SATELLITE_FALLBACK_ZOOM = "{{ maps_fallback_satellite_zoom }}"
TERRAIN_FALLBACK_ZOOM = "{{ maps_fallback_terrain_zoom }}"

# NOTE: This file uses ansible vars defined in default/main.yml for its construction
# but it should not use anything based in vars/ because it should facilitate those
# same changes without ansible.

# Ansible's job is to put certain files in place. This script's job is to find those
# files and set up maps-config.js accordingly. If the user changes the files, this
# script should just as well set up maps-config.js accordingly.

vector_symlink = maps_serve_path / '{{ maps_dot_black_osm_symlink_name }}'
satellite_symlink = maps_serve_path / '{{ maps_dot_black_satellite_symlink_name }}'
terrain_symlink = maps_serve_path / '{{ maps_dot_black_terrain_symlink_name }}'

vector_fallback = maps_fallback_path / catalog["vector"][VECTOR_FALLBACK_ZOOM].split('/')[-1]
satellite_fallback = maps_fallback_path / catalog["satellite"][SATELLITE_FALLBACK_ZOOM].split('/')[-1]
terrain_fallback = maps_fallback_path / catalog["terrain"][TERRAIN_FALLBACK_ZOOM].split('/')[-1]

def handle_fallback_file(symlink, fallback, required=True):
    if symlink.exists():
        return

    if not fallback.exists():
        if required:
            sys.stderr.write(f"You deleted both the symlink:\n\n{symlink}\n\n")
            sys.stderr.write(f"and the fallback file:\n\n{fallback}\n\n. ")
            sys.stderr.write("Can't continue, sorry.\n")
            sys.stderr.flush()
            sys.exit(1)
        return

    # The symlink is either deleted or broken. For simplicity let's make sure it's just deleted.
    if symlink.is_symlink():
        symlink.unlink()
    print (f"Falling back: pointing {symlink} to {fallback}")
    symlink.symlink_to(fallback)

def get_max_zoom(full_path, fallback, required=True):
    PMTILES = Path('{{ maps_tools.pmtiles.executable_path }}')
    output = subprocess.getoutput(f"{PMTILES} show {full_path} --header-json")
    try:
        return json.loads(output)["maxzoom"]
    except:
        # We hope they notice and report the bug if it ever comes here!
        print (f"Failed to get max zoom from pmtiles header for {full_path}. Falling back to {fallback}")
        print (f"Got this output from pmtiles:\n{output}")
        return fallback

# Since I have a bit of a mess as of right now as far as what the numbers might
# mean, let's make a quick decoder that hopefully works on everything. This
# should run every time on all of the fallback zoom keys so we should know
# right away if it stops working.
def get_fallback_zoom_number(fallback_zoom_key):
    if fallback_zoom_key == "none":
        return 0
    return int(fallback_zoom_key
        .split('-z')[-1] # deal with nat-z8
        .split('-')[0]   # deal with 0-none etc
    )

handle_fallback_file(vector_symlink, vector_fallback)
handle_fallback_file(satellite_symlink, satellite_fallback, False)
handle_fallback_file(terrain_symlink, terrain_fallback)

# Use defaults that are hopefully always available.
# terrarium-none.pmtiles which is maxzoom=0 will always be used as a
# dummy to make maps.black / maplibre happy if we have FQRs and the
# terrain is enabled.
WORLD_MAP_VECTOR_MAX_ZOOM = get_max_zoom(
    vector_symlink,
    get_fallback_zoom_number("{{ maps_fallback_vector_zoom }}")
)
if satellite_symlink.exists():
    # Allow for satellite=none
    WORLD_MAP_SATELLITE_MAX_ZOOM = get_max_zoom(
        satellite_symlink,
        get_fallback_zoom_number("{{ maps_fallback_satellite_zoom }}"),
        False,
    )
else:
    WORLD_MAP_SATELLITE_MAX_ZOOM = "null"
WORLD_MAP_TERRAIN_MAX_ZOOM = get_max_zoom(
    terrain_symlink,
    get_fallback_zoom_number("{{ maps_fallback_terrain_zoom }}")
)

jsbool = lambda b: "true" if b else "false"
WORLD_MAP_IS_NATURAL_EARTH = jsbool("naturalearth" in str(vector_symlink.readlink()))

(maps_serve_path / "maps-config.js").write_text(
f"""
const WORLD_MAP_VECTOR_MAX_ZOOM = {WORLD_MAP_VECTOR_MAX_ZOOM}
const WORLD_MAP_SATELLITE_MAX_ZOOM = {WORLD_MAP_SATELLITE_MAX_ZOOM}
const WORLD_MAP_TERRAIN_MAX_ZOOM = {WORLD_MAP_TERRAIN_MAX_ZOOM}
const WORLD_MAP_IS_NATURAL_EARTH = {WORLD_MAP_IS_NATURAL_EARTH}
"""
)
