# Nominatim by default uses a postgres database. To switch it to sqlite, we set
# NOMINATIM_DATABASE_DSN here.

[Service]
Environment="NOMINATIM_DATABASE_DSN=sqlite:dbname={{ maps_data_root }}/{{ nominatim_db_symlink_name }}"
Environment="NOMINATIM_LOG_FILE=/var/log/nominatim/nominatim.log" # TODO logrotate
