[Unit]
Description=Nominatim running as a gunicorn application
After=network.target
Requires=nominatim.socket

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory={{ nominatim_home }}/nominatim-project
ExecStart={{ nominatim_home }}/nominatim-venv/bin/gunicorn -b unix:/run/nominatim.sock -w {{ nominatim_num_workers_procs }} -k uvicorn.workers.UvicornWorker "nominatim_api.server.falcon.server:run_wsgi()"
ExecReload=/bin/kill -s HUP "$MAINPID"
PrivateTmp=true
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target
