location = /maps {
    return 302 /maps/;
}

location ~ ^/maps/ {

    # These seemed to be required to get around a bug in serving pmtiles.
    # One of these was only required for Firefox.
    # For partial insight, see: https://github.com/protomaps/PMTiles/issues/584
    location ~ "\.(pmtiles)$" {
        chunked_transfer_encoding off;
        gzip off;
    }

    root /library/www/osm;
}
