#!/usr/bin/python3

import json, os, random, re, requests, shutil, string, subprocess, sys, xmltodict, xml
from pathlib import Path
from collections import defaultdict

sys.path.insert(1, "{{ maps_tools.tile_extract.working_dir }}/pmtiles-python/python/pmtiles")

CATALOG_URL = "{{ maps_catalog_url }}"
HOSTING_DIR = "{{ maps_serve_path }}"
EXTRACTS_JSON = os.path.join(HOSTING_DIR, "{{ maps_tools.tile_extract.info_file }}")
PMTILES = "{{ maps_tools.pmtiles.executable_path }}"
TMP_DIR = "/library/downloads/maps"

# If you delete an fqr directory while you're inside that same
# directory, you end up with weird errors
os.chdir(HOSTING_DIR)

# Helpers

def delete_command(extract_name):
    """
    Helper function that returns the text for the delete command, which we use in a few places.
    """
    return (
        f"sudo {{ maps_tools.tile_extract.working_dir }}/tile-extract.py delete {extract_name}"
    )

def get_bounds(extract_name, fqr_dir):
    # If we want to inspect the actual files (perhaps to inform users if their
    # pmtiles files don't match their fqr's bbox), see the version of
    # `get_bounds` at commit 351399c7fdc534d6ea6ce7f64dae9757d695ceaf
    try:
        bbox = json.load(
            get_meta_file_path(fqr_dir).open("r")
        )["bbox"]
    except FileNotFoundError:
        # TODO nov 2026 or so we can remove "updated your IIAB recently". This
        # refers to the transition of adding the meta.json file to the fqr directory.
        print (f"Warning: not displaying '{extract_name}' on the map - meta.json not found. This might be because of an incomplete download, or a recent IIAB update.")
        print ("You may need to delete this region and download it again. The command to delete it is:")
        print() # TODO - recommend an "update" instead of delete when we implement that
        print(delete_command(extract_name))
        print() # Extra line because we may list multiple incomplete FQRs here
    except (json.decoder.JSONDecodeError, KeyError):
        print (f"Warning: not displaying '{extract_name}' on the map - malformed meta.json")
    else:
        error = check_bbox_error(bbox)
        if error:
            print (f"Warning: not displaying '{extract_name}' on the map - bbox error - {error}")
            return None, None

        if bbox[0] < bbox[2]:
            # normal
            ui_bounds = render_bounds = bbox
        else:
            # cross antimeridian
            ui_bounds = [
                bbox[0],
                bbox[1],
                bbox[2] + 360,
                bbox[3],
            ]
            render_bounds = [
                -180,
                bbox[1],
                180,
                bbox[3],
            ]

        return render_bounds, ui_bounds

    return None, None

# `REGION_TYPES_FOR_DATE` maps the region types seen in the pmtiles file names
# to the keys in the "dates" substructure in the extracts file:
#
# {
#   extract_name: {
#     "render_bounds": coordinates,
#     "ui_bounds": coordinates,
#     "dates": {
#       "terrain": terrain_date,
#       "vector": vector_date,
#       "satellite": satellite_date,
#     },
#   }
# }
REGION_TYPES_FOR_DATE = {
    's2maps-sentinel2-2023': 'satellite',
    'terrarium': 'terrain',
    'openstreetmap-openmaptiles': 'vector',
}
VALID_REGION_EXTRACT_TYPES = set(REGION_TYPES_FOR_DATE.keys())

def check_extract_name_error(extract_name):
    if not set(extract_name) < set(string.ascii_letters + string.digits + "-_"):
        return "name contains invalid characters"
    if len(extract_name) == 0:
        return "name is missing"
    if len(extract_name) >= 35:
        return "name is too long"

def check_date_error(date):
    if not re.fullmatch(r'\d{4}-\d{2}-\d{2}', date, re.ASCII):
        return "malformed"

def validate_extract_name(extract_name):
    error = check_extract_name_error(extract_name)
    if error:
        raise ValueError(f"Invalid FQR name ({extract_name}): {error}")

def check_bbox_error(bbox):
    """
    What gets passed here ought to be ready to save to meta.json or pass to the
    pmtiles tool (i.e. not directly from the ui tool). So here we make sure
    that it is indeed so. We'll try not to make assumptions about where it came
    from (whether a post-cleaning ui tool, or from a meta.json file, or maybe
    someplace else), so we'll check the structure of everything as well.
    """

    if not isinstance(bbox, list):
        return "bbox is not an array"
    if len(bbox) != 4:
        return "bbox has unexpected length"
    for coord in bbox:
        if not isinstance(coord, (int, float)):
            return "coordinate is not a number"

    min_lon, min_lat, max_lon, max_lat = bbox

    if min_lon == max_lon:
        return "longitudes are equal"
    for lon in [min_lon, max_lon]:
        if lon >= 180:
            return "longitude >= 180"
        if lon < -180:
            return "longitude < -180"

    if min_lat >= max_lat:
        return "latitudes are equal or out of order"
    for lat in [min_lat, max_lat]:
        if lat > 90:
            return "latitude > 90"
        if lat < -90:
            return "longitude < -90"

def clean_bbox_from_ui_tool(extract_box_str):
    """
    This function converts the bbox string that comes from the UI tool to a
    bbox ready to save to meta.json or pass to the pmtiles tool. It asserts a
    few assumptions that are specific to the bbox coming out of the UI tool,
    then "cleans" the numbers and does a final check for other errors in the
    numbers to make sure it's fit for saving or pmtiles tool.
    """
    try:
        # `float` is important here even if just as a parsing check.
        min_lon, min_lat, max_lon, max_lat = [float(n) for n in extract_box_str.split(",")]

        # I am concerned about longitudes in particular because -180 and 180 refer to the same place.
        # I expect to get all all positives or all negatives for longitudes (see the big comment in
        # index.html, inside `terraDrawInstance.on("finish"` for details) but this is just based on
        # observation. I would like to confirm it here.
        assert min_lon < max_lon, "longitudes seem to be out of order"
        assert min_lat < max_lat, "latitudes seem to be out of order"
        assert max_lon - min_lon < 360, "FQR can't wrap around the world"

    except Exception as e:
        raise ValueError(f"Extract box ({extract_box_str}) is malformed: {e}")

    def lon_modulo(lon):
        # We want the longitudes to be from -180 to just under 180. We want to perform a
        # modulo 360 to give it an equivalent longitude, but starting at -180 instead of 0.
        return (
          (                 # Start off assuming that lon "ought to be" in the range of -180 <= x < 180
            (lon + 180)     # Thus, lon + 180 "ought to be" in the range of 0 <= x < 360
            % 360           # Modulo 360 will *in fact* change our range to 0 <= x < 360
          )
        ) - 180             # Finally subtracting 180 will *in fact* set our range to -180 <= x < 180

    bbox = [lon_modulo(min_lon), min_lat, lon_modulo(max_lon), max_lat]
    error = check_bbox_error(bbox)
    if error:
        raise ValueError(f"Extract box ({extract_box_str}) is invalid after cleaning ({bbox}) : {error}")
    return bbox

def validate_noninteractive(noninteractive):
    assert noninteractive in ("", "noninteractive"), f"`noninteractive` (optional) should only be set to \"noninteractive\". Got {noninteractive}"

def get_mirror(path):
    try:
        meta4 = xmltodict.parse(requests.get(path + ".meta4").content, force_list=('url',))
    except (xml.parsers.expat.ExpatError, requests.RequestException):
        # If something goes wrong just return the path we put in
        print("error finding mirror (xml parse error), defaulting to", path)
        return path

    try:
        urls = [url['#text'] for url in meta4['metalink']['file']['url']]
    except (KeyError, TypeError):
        # If something goes wrong just return the path we put in
        print("error finding mirror (xml schema error), defaulting to", path)
        return path

    random.shuffle(urls)
    for mirror in urls:
        if requests.head(mirror).status_code == 200:
            return mirror

    raise Exception(f"Failed to download {path} from any of the available mirrors.")

def get_extract_dir(extract_name):
    """
    Make sure this matches makeFqrSourceId in index.html
    """
    return Path(HOSTING_DIR) / f"{extract_name}.fqr"

def get_meta_file_path(fqr_dir):
    return fqr_dir / "meta.json"

def get_new_extract_paths(extract_name):
    """
    Get the paths for *new* FQRs. I.e. what we expect to be able to download
    from the server. Existing FQRs on the file system may have different dates,
    so we can't rely on this function for getting an inventory or deletion.

    Make sure this matches makeFqrSourceId in index.html
    """

    # Unlike the global data, FQRs always stay up to date, so it downloads
    # the latest catalog.
    catalog_response = requests.get(CATALOG_URL)
    if catalog_response.status_code != 200:
        raise Exception("Cannot find map data catalog")

    try:
        catalog = catalog_response.json()["data"]
    except json.decoder.JSONDecodeError:
        raise Exception("Error reading map data catalog")

    VECTOR_MAX_ZOOM = "{{ maps_vector_fqr_max_zoom }}"
    SATELLITE_MAX_ZOOM = "{{ maps_satellite_fqr_max_zoom }}"
    TERRAIN_MAX_ZOOM = "{{ maps_terrain_fqr_max_zoom }}"

    def get_paths(source):
        match (source.split('/')[-1].split('.')):
            case [region_extract_type, date, _zoom_range, "pmtiles"]:
                return {
                    "source":
                        get_mirror(source),
                    "extract":
                        str(get_extract_dir(extract_name) / f"{region_extract_type}.{date}.pmtiles"),
                    "tmp":
                        os.path.join(TMP_DIR, f"{region_extract_type}.{date}.full-region.{extract_name}.pmtiles"),
                }
            case _:
                raise Exception("Oops got unexpected pmtiles file name:", source)

    return {
        "vector": get_paths(catalog["vector"][VECTOR_MAX_ZOOM]),
        "satellite": get_paths(catalog["satellite"][SATELLITE_MAX_ZOOM]),
        "terrain": get_paths(catalog["terrain"][TERRAIN_MAX_ZOOM]),
    }

def get_fqrs():
    """
    List FQRs based on directory names.

    Directories with .fqr extension that are otherwise invalid are skipped with a warning.
    """
    fqrs = {}
    for fqr_dir in Path(HOSTING_DIR).glob("*.fqr"):
        extract_name = fqr_dir.name.rsplit('.')[0]
        error = check_extract_name_error(extract_name)
        if error:
            print(f"Warning: Can't parse possible FQR dir name ({fqr_dir}) - {error}")
        elif not fqr_dir.is_dir():
            print(f"Warning: not a directory - {fqr_dir}")
        else:
            fqrs[extract_name] = fqr_dir
    return fqrs

def get_region_files_for_fqr(fqr_dir):
    """
    List pmtiles files for an FQR. `fqr_dir` is a `Path` object.

    Files with .pmtiles extension that are otherwise invalid are skipped with a warning.
    """

    for full_path in fqr_dir.glob("*.pmtiles"):
        match (full_path.name.split('.')):
            case [region_extract_type, date, "pmtiles"]:
                error = check_date_error(date)
                if error:
                    print(f"Warning: invalid date in existing file ({full_path}): {error}")
                    continue
                if region_extract_type not in VALID_REGION_EXTRACT_TYPES:
                    print(f"Warning: invalid region extract type in existing file: {full_path}")
                    continue
            case _:
                print(f"Warning: can't parse possible pmtiles name in existing file: {full_path}")
                continue
        yield full_path, region_extract_type, date

def yes_no(prompt, noninteractive=False, noninteractive_response=None):
    if noninteractive:
        return noninteractive_response
    while True:
        response = input(f'{prompt} y/n ')
        if response == "y":
            return True
        if response == "n":
            return False
        print ("Invalid response.")

def list_files(root):
    """
    Walk the `root` directory and list all of the files up to `MAX_LEN`
    (defined below) and give count of unlisted files.
    """

    listing = []
    for directory, _, files in os.walk(root):
        listing.append(f"* {directory}")
        for file in files:
            listing.append(f"* {directory}/{file}")

    MAX_LEN = 20
    print('\n'.join(listing[:MAX_LEN]))
    unlisted = listing[MAX_LEN:]

    if unlisted:
        print('...')
        print(f'(and {len(unlisted)} more)')

# Main functions

def delete_extract(extract_name):
    """
    Delete the Full Quality Region named `extract_name` if it exists.

    In the normal case, we will have one of each type (vector, terrain,
    satellite). If we are missing one, or if we have multiple of a given type
    (with different dates), confirm with the user before deleting.

    Also confirm with them if there are unexpected files in the directory.
    """

    fqrs = get_fqrs()
    if extract_name not in fqrs:
        print (f"Found no Full Quality Regions with the name '{extract_name}'")
        return

    fqr_dir = fqrs[extract_name]
    fqr_files = list(get_region_files_for_fqr(fqr_dir))

    fqr_region_extract_types = [region_extract_type for (_, region_extract_type, _) in fqr_files]

    fqr_file_paths = [full_path for (full_path, _, _) in fqr_files]
    meta_json_path = get_meta_file_path(fqr_dir)
    all_file_paths = list(fqr_dir.glob("*"))

    # At most one of each type, or nothing at all
    has_region_extract_type_dupes = fqr_region_extract_types and ({
        fqr_region_extract_types.count(region_extract_type)
        for region_extract_type
        in fqr_region_extract_types
    } != {1})
    has_extra_files = bool(set(all_file_paths) - set(fqr_file_paths + [meta_json_path]))
    has_missing_files = bool(set([meta_json_path]) - set(all_file_paths))

    # The user might have messed around with the files. Either there's more
    # than one of satellite, terrain, or vector, or there are other unknown
    # files.
    if has_region_extract_type_dupes or has_extra_files or has_missing_files:
        print (f"Warning: there are unexpected or missing files for the region '{extract_name}'. Expected:")
        print ("  * meta.json")
        print ("  * at most one 'openstreetmap-openmaptiles' file")
        print ("  * at most one 's2maps-sentinel2-2023' file")
        print ("  * at most one 'terrarium' file")
        print ()
    print ("Files and directories to be deleted:")
    list_files(fqr_dir)
    print()

    if not yes_no("Confirm delete?"):
        return

    if fqr_dir.parent != Path(HOSTING_DIR) or fqr_dir.name != f"{extract_name}.fqr":
        # Last-minute sanity check before deleting fqr_dir in case a new
        # bug is introduced before we get to this point.
        raise Exception("Unknown error. Stopping before we delete the wrong directory!", fqr_dir)
    shutil.rmtree(fqr_dir)

    print(f"Full Quality Region data for {extract_name} has been deleted.")

def create_extract(extract_box, extract_name, extract_paths):
    # Extract them all successfully before moving them.
    # Assumes it doesn't exist yet
    for paths in extract_paths.values():
        result = subprocess.run(
            [PMTILES, "extract", paths["source"], paths["tmp"], "--bbox=" + ",".join(map(repr, extract_box))],
        )
        if result.returncode != 0:
            raise Exception(f"Region download failed. Double-check your Internet connection. (error code {result.returncode})")

    # I considered putting the fqr into a directory and moving it over
    # atomically. However, later we will deal in "updates" which will be harder
    # to do atomically. I'd rather not have two different ways of doing this.
    fqr_dir = get_extract_dir(extract_name)
    fqr_dir.mkdir()
    # Let's write the meta.json first, making it an official fqr, before we
    # move the pmtiles files. If we move the pmtiles files first and there's
    # an error before making the meta file, it won't be an official fqr and
    # they may have trouble deleting it. If there's an error after the meta
    # file but before the pmtiles files, they can at least delete it and
    # try again. (or eventually, they can "update" it which will grab any
    # missing pmtiles files).
    json.dump(
        {"bbox": extract_box},
        get_meta_file_path(fqr_dir).open("w")
    )
    for paths in extract_paths.values():
        shutil.move(paths["tmp"], paths["extract"])


UNIT_MULT = {
    'kB': 1_000,
    'MB': 1_000_000,
    'GB': 1_000_000_000,
    'TB': 1_000_000_000_000,
}


def get_estimates(extract_box, extract_paths):
    extract_sizes = {}

    for paths in extract_paths.values():
        result = subprocess.run(
            [PMTILES, "extract", paths["source"], paths["tmp"], "--bbox=" + ",".join(map(repr, extract_box)), "--dry-run"],
            capture_output=True,
            text=True,
        )
        if result.returncode != 0:
            raise Exception(f"Download size check failed. Double-check your Internet connection. (error code {result.returncode})")

        # Parse transfer and archive sizes from the last line of --dry-run output.
        # (Though we'll check every line to make it a bit more robust)
        #
        # NOTE: The reason this is two different sizes is due to something
        # called "overfetching" which is making fewer requests at the cost of
        # grabbing some extra data we don't need. This is actually a ratio we
        # can control and will likely look into for optimizing user experience.
        pattern = (
            r'\d+/\d+/\d+ \d+:\d+:\d+ extract.go:\d*: '
            r'Extract transferred (\d*\.?\d*) (kB|MB|GB|TB) '
            r'\(overfetch \d*\.?\d*\) '
            r'for an archive size of (\d*\.?\d*) (kB|MB|GB|TB)'
        )
        for line in result.stdout.split('\n'):
            re_match = re.match(pattern, line, re.ASCII)
            if re_match is not None:
                break

        if re_match is None:
            return None

        (transfer_num, transfer_unit, archive_num, archive_unit) = re_match.groups()

        # Determine the sizes of all of the pmtiles files in bytes
        extract_sizes[paths['source']] = {
            "transfer": float(transfer_num) * UNIT_MULT[transfer_unit],
            "archive":  float(archive_num)  * UNIT_MULT[archive_unit],
        }

    return extract_sizes


def approve_download_size(extract_box, extract_paths):
    print("Determining download size...")

    extract_sizes = get_estimates(extract_box, extract_paths)
    if extract_sizes is None:
        return yes_no("Cannot get file size estimate due to unexpected output from pmtiles. Download anyway?")

    # Convert the file sizes back to the best available unit
    transfer_total = sum(size['transfer'] for size in extract_sizes.values())
    archive_total = sum(size['archive'] for size in extract_sizes.values())

    def display(num_bytes):
        for unit, mult in UNIT_MULT.items():
            if 1 <= num_bytes / mult < 1000:
                return f"{round(num_bytes / mult, 2)} {unit}"

        # If something falls through the cracks
        return f"{num_bytes} Bytes"

    _, _, free_b = shutil.disk_usage(TMP_DIR)

    # Ask the user if they're okay with the size.
    return yes_no(
        f'\nNew region will be {display(transfer_total)} downloaded, {display(archive_total)} on disk. This will'
        f'\nleave about {display(free_b - archive_total)} free space on this partition. Continue?',
    )

def check_for_existing_name(extract_name):
    # For simplicity, we will fail if there is a directory called `get_extract_dir(extract_name)`
    # even if it's empty. Let the user sort it out, i.e. delete it if they want.

    if get_extract_dir(extract_name).exists():
        # TODO - Offer to send the user into the deletion sequence
        # automatically. It's a separate non-trivial task because the deletion
        # sequence itself has yes/no logic related to unexpected files. And so
        # the deletion may not happen, which we then have to account for here.
        #
        # I specifically say "looks like" because this comes up (as it should)
        # even if you have an invalid fqr, i.e. a directory without a meta.json
        # file. Such a directory would, all the same, block you from
        # downloading a new region with that name.
        print(f'It looks like you already have a Full Quality Region called \"{extract_name}\". To delete this region, run:')
        print() # TODO - recommend an "update" in case that's what they want to do, when we implement that
        print(delete_command(extract_name))
        return False
    return True

def _split_antimeridian_bbox(bbox):
    return (
        [bbox[0], bbox[1], 180, bbox[3]],
        [-180, bbox[1], bbox[2], bbox[3]],
    )

def _has_overlap(bbox_1, bbox_2):
    if bbox_1[0] > bbox_1[2]:
        bbox_1_east, bbox_1_west = _split_antimeridian_bbox(bbox_1)
        return (
            _has_overlap(bbox_1_east, bbox_2) or
            _has_overlap(bbox_1_west, bbox_2)
        )
    if bbox_2[0] > bbox_2[2]:
        bbox_2_east, bbox_2_west = _split_antimeridian_bbox(bbox_2)
        return (
            _has_overlap(bbox_1, bbox_2_east) or
            _has_overlap(bbox_1, bbox_2_west)
        )

    # Two normal squares
    return (
        bbox_1[0] < bbox_2[2] and
        bbox_2[0] < bbox_1[2] and
        bbox_1[1] < bbox_2[3] and
        bbox_2[1] < bbox_1[3]
    )

def check_for_overlaps(new_bbox):
    """
    Assumes new_box and existing boxes are validated
    """

    existing_region_extracts = json.loads(open(EXTRACTS_JSON).read())["regions"]

    for existing_region in existing_region_extracts.values():
        if _has_overlap(new_bbox, existing_region["ui_bounds"]):
            return False

    return True

def update_extracts_json():
    # render_bounds and ui_bounds are the same unless the region crosses the 180/-180 boundary.
    # If it does cross, ui_bounds is what you'd expect, with one end of the bounds inside of
    # the -180 to 180 range, and one outside. render_bounds on the other hand would have lng
    # bounds of -180 to 180: two partial regions on opposite sides of the map.
    #
    # region_extracts[extract_name] = {
    #   "render_bounds": coordinates,
    #   "ui_bounds": coordinates,
    #   "dates": {
    #     "terrain": terrain_date,
    #     "vector": vector_date,
    #     "satellite": satellite_date,
    #   },
    # }
    region_extracts = defaultdict(
        lambda: dict(dates=defaultdict(dict)),
    )

    for extract_name, fqr_dir in get_fqrs().items():
        render_bounds, ui_bounds = get_bounds(extract_name, fqr_dir)
        if render_bounds is None:
            continue # Something went really haywire. Skip this pmtiles file.
        region_extracts[extract_name]["ui_bounds"] = ui_bounds
        region_extracts[extract_name]["render_bounds"] = render_bounds

        for _, region_extract_type, date in get_region_files_for_fqr(fqr_dir):
            region_extracts[extract_name]["dates"][REGION_TYPES_FOR_DATE[region_extract_type]] = date

        missing_region_types = set(REGION_TYPES_FOR_DATE.values()) - set(region_extracts[extract_name]["dates"].keys())

        if missing_region_types:
            print (f"Warning: don't have all three types of pmtiles files for '{extract_name}'.")
            print ("Have:", set(region_extracts[extract_name]["dates"].keys()), "Missing:", missing_region_types)
            print ("To get the missing files, delete this region and download it again. The command to delete it is:")
            print() # TODO - recommend an "update" instead of delete when we implement that
            print(delete_command(extract_name))
            print() # Extra line because we may list multiple incomplete FQRs here

    extracts = {"regions": region_extracts}
    open(EXTRACTS_JSON, "w").write(json.dumps(extracts))

def main():
    match sys.argv[1]:
        case "update-json":
            assert len(sys.argv) == 2, "update-json takes no extra arguments"
            update_extracts_json()

        case "delete":
            assert len(sys.argv) == 3, "delete takes one argument: extract_name"
            extract_name = sys.argv[2]
            validate_extract_name(extract_name)

            delete_extract(extract_name)
            update_extracts_json()

        case "extract":
            # Get and validate arguments
            assert len(sys.argv) in (4, 5), (
                "extract arguments are: `extract_name`, `extract_box`, and (optional) `noninteractive`"
            )

            extract_name = sys.argv[2]
            extract_box_str = sys.argv[3]
            noninteractive = sys.argv[4] if len(sys.argv) > 4 else ""

            validate_extract_name(extract_name)
            extract_box = clean_bbox_from_ui_tool(extract_box_str)
            validate_noninteractive(noninteractive)
            noninteractive = bool(noninteractive)

            # Check arguments against existing data
            update_extracts_json() # Make sure we have updated data before we check for overlaps
            if not check_for_overlaps(extract_box):
                if noninteractive:
                    sys.exit(0)
                else:
                    sys.exit("error: you cannot download overlapping full quality regions")

            if not check_for_existing_name(extract_name):
                if noninteractive:
                    sys.exit(0)
                else:
                    sys.exit(1)

            extract_paths = get_new_extract_paths(extract_name)

            # Get a download estimate and give users a chance to back out
            if not noninteractive and not approve_download_size(extract_box, extract_paths):
                sys.exit(1)

            # Do the extracts
            create_extract(extract_box, extract_name, extract_paths)
            update_extracts_json() # Add the newly added extract

        case unknown:
            raise Exception("Unknown option:", unknown)

if __name__ == "__main__":
    main()
