#!/usr/bin/python3

import json, glob, os, re, shutil, string, subprocess, sys
from collections import defaultdict

HOSTING_DIR = "{{ maps_serve_path }}"
EXTRACTS_JSON = os.path.join(HOSTING_DIR, "{{ tile_extract.info_file }}")
PMTILES = os.path.join(os.path.dirname(__file__), "pmtiles")
TMP_DIR = "/library/downloads/maps"

# Helpers

def validate_extract_name(extract_name):
    # Make sure the extract_name has only valid characters
    try:
        assert set(extract_name) < set(string.ascii_letters + string.digits + "-_")
        assert len(extract_name) > 0
        assert len(extract_name) < 35
    except AssertionError:
        raise ValueError("extract_name has invalid length or characters: ", extract_name)

def validate_extract_box(extract_box):
    try:
        # `float` is just a parsing check.
        assert len([float(n) for n in extract_box.split(",")]) == 4
    except Exception:
        raise ValueError("extract_box is malformed: ", extract_box)

def validate_noninteractive(noninteractive):
    assert noninteractive in ("", "noninteractive"), f"`noninteractive` (optional) should only be set to \"noninteractive\". Got {noninteractive}"

def get_new_extract_paths(extract_name):
    """
    Get the paths for *new* FQRs. I.e. what we expect to be able to download
    from the server. Existing FQRs on the file system may have different dates,
    so we can't rely on this function for getting an inventory or deletion.
    """
    MAPS_VECTOR_DATA_DATE = "{{ maps_vector_data_date }}"
    MAPS_SLOW_DATA_DATE = "{{ maps_slow_data_date }}"
    IIAB_MAP_HOST_URL = "{{ iiab_map_host_url }}"

    VECTOR_ZOOM_RANGE = "z00-z{{ '%02d' % maps_vector_max_zoom }}"
    SATELLITE_ZOOM_RANGE = "z00-z{{ '%02d' % maps_satellite_max_zoom }}"
    TERRAIN_ZOOM_RANGE = "z00-z{{ '%02d' % maps_terrain_max_zoom }}"

    def get_paths(base, zoom_range):
        return {
            "source":
                f"{IIAB_MAP_HOST_URL}/{base}.{zoom_range}.pmtiles",
            "extract":
                os.path.join(HOSTING_DIR, f"{base}.full-region.{extract_name}.pmtiles"),
            "tmp":
                os.path.join(TMP_DIR, f"{base}.full-region.{extract_name}.pmtiles"),
        }

    return {
        "vector": get_paths(f"openstreetmap-openmaptiles.{MAPS_VECTOR_DATA_DATE}", VECTOR_ZOOM_RANGE),
        "satellite": get_paths(f"s2maps-sentinel2-2023.{MAPS_SLOW_DATA_DATE}", SATELLITE_ZOOM_RANGE),
        "terrain": get_paths(f"terrarium.{MAPS_SLOW_DATA_DATE}", TERRAIN_ZOOM_RANGE),
    }

def iter_region_files():
    """
    Get an inventory of exsting FQRs on the file system.
    """
    for full_path in glob.glob(os.path.join(HOSTING_DIR, "*.full-region.*.pmtiles")):
        match (os.path.basename(full_path).split('.')):
            case [region_extract_type, date, "full-region", name, "pmtiles"]:
                pass
            case _:
                raise Exception("Oops can't parse pmtiles file name:", full_path)
        yield full_path, region_extract_type, date, name

def yes_no(prompt, noninteractive=False, noninteractive_response=None):
    if noninteractive:
        return noninteractive_response
    while True:
        response = input(f'{prompt} y/n ')
        if response == "y":
            return True
        if response == "n":
            return False
        print ("Invalid response.")

# Main functions

def delete_extract(extract_name):
    """
    Delete all full-region files whose name matches `extract_name`.

    In the normal case, we will have one of each type (vector, terrain,
    satellite). If we are missing one, or if we have multiple of a given type
    (with different dates), confirm with the user before deleting.
    """

    # We could have used the extracts json for this. However, that one might
    # skip over duplicates. So long as we're deleting, let's show everything we
    # have so the user can really clean things up.

    region_extract_types_for_name = defaultdict(list)
    all_paths = []
    for full_path, region_extract_type, date, name in iter_region_files():
        if name != extract_name:
            continue
        all_paths.append(full_path)
        region_extract_types_for_name[region_extract_type].append(date)

    if len(all_paths) == 0:
        print (f"Found no Full Quality Regions with the name '{extract_name}'")
        return

    # Something weird happened, maybe a mixture of dates or something.
    if [len(dates) for dates in region_extract_types_for_name.values()] != [1, 1, 1]:
        print (f"There are an unexpected set of files for the region '{extract_name}'")
        print ("(expected exactly one 'openstreetmap', one 's2maps', and one 'terranium'):")
        print ()
        for path in all_paths:
            print("*", path)
        print ()
        if not yes_no("Confirm delete?"):
            return

    for path in all_paths:
        if os.path.dirname(path) != HOSTING_DIR or f".{extract_name}." not in path:
            # Last-minute sanity check before deleting files in case some other
            # error is introduced before we get to this point.
            raise Exception(f"Unknown error. Stopping before we delete the wrong file!", path)
        os.remove(path)

def create_extract(extract_name, extract_box):
    extract_paths = get_new_extract_paths(extract_name)

    # Extract them all successfully before moving them.
    for paths in extract_paths.values():
        result = subprocess.run(
            [PMTILES, "extract", paths["source"], paths["tmp"], "--bbox=" + extract_box],
        )
        if result.returncode != 0:
            raise Exception(f"Region download failed. Double-check your Internet connection. (error code {result.returncode})")

    for paths in extract_paths.values():
        shutil.move(paths["tmp"], paths["extract"])


def approve_download_size(extract_name):
    extract_paths = get_new_extract_paths(extract_name)
    extract_sizes = {}

    print("Determining download size...")

    for paths in extract_paths.values():
        result = subprocess.run(
            [PMTILES, "extract", paths["source"], paths["tmp"], "--bbox=" + extract_box, "--dry-run"],
            capture_output=True,
            text=True,
        )
        if result.returncode != 0:
            raise Exception(f"Download size check failed. Double-check your Internet connection. (error code {result.returncode})")

        # Parse transfer and archive sizes from the last line of --dry-run output.
        # (Though we'll check every line to make it a bit more robust)
        #
        # NOTE: The reason this is two different sizes is due to something
        # called "overfetching" which is making fewer requests at the cost of
        # grabbing some extra data we don't need. This is actually a ratio we
        # can control and will likely look into for optimizing user experience.
        pattern = (
            r'\d+/\d+/\d+ \d+:\d+:\d+ extract.go:\d*: '
            r'Extract transferred (\d*\.?\d*) (kB|MB|GB|TB) '
            r'\(overfetch \d*\.?\d*\) '
            r'for an archive size of (\d*\.?\d*) (kB|MB|GB|TB)'
        )
        for line in result.stdout.split('\n'):
            re_match = re.match(pattern, line)
            if re_match is not None:
                break

        if re_match is None:
            return yes_no("Cannot get file size estimate due to unexpected output from pmtiles. Download anyway?")

        (transfer_num, transfer_unit, archive_num, archive_unit) = re_match.groups()

        # Determine the sizes of all of the pmtiles files in bytes
        unit_mult = {
            'kB': 1_000,
            'MB': 1_000_000,
            'GB': 1_000_000_000,
            'TB': 1_000_000_000_000,
        }
        extract_sizes[paths['source']] = {
            "transfer": float(transfer_num) * unit_mult[transfer_unit],
            "archive":  float(archive_num)   * unit_mult[archive_unit],
        }

    # Convert the file sizes back to the best available unit
    transfer_total = sum(size['transfer'] for size in extract_sizes.values())
    archive_total = sum(size['archive'] for size in extract_sizes.values())

    def display(num_bytes):
        for unit, mult in unit_mult.items():
            if 1 <= num_bytes / mult < 1000:
                return f"{round(num_bytes / mult, 2)} {unit}"

        # If something falls through the cracks
        return f"{num_bytes} Bytes"

    total_b, used_b, free_b = shutil.disk_usage(TMP_DIR)

    # Ask the user if they're okay with the size.
    return yes_no(
        f'\nNew region will be {display(transfer_total)} downloaded, {display(archive_total)} on disk. This will'
        f'\nleave about {display(free_b - archive_total)} free space on this partition. Continue?',
        noninteractive, True,
    )


def check_for_existing_name(extract_name, noninteractive):
    existing_extracts = json.loads(open(EXTRACTS_JSON).read())
    if extract_name in existing_extracts["regions"].keys():
        return yes_no(f'Already have a full quality region called \"{extract_name}\". Overwrite it?', noninteractive, False)
    else:
        return True

def check_for_overlaps(new_box):
    [new_min_long, new_min_lat, new_max_long, new_max_lat] = [
        float(n) for n in new_box.split(",")
    ]

    existing_region_extracts = json.loads(open(EXTRACTS_JSON).read())["regions"]
    for existing in existing_region_extracts.values():
        [long_1, lat_1, long_2, lat_2] = existing['bbox']
        existing_min_long = min([long_1, long_2])
        existing_max_long = max([long_1, long_2])
        existing_min_lat = min([lat_1, lat_2])
        existing_max_lat = max([lat_1, lat_2])

        if (
            new_min_long < existing_max_long and
            new_max_long > existing_min_long and
            new_min_lat  < existing_max_lat and
            new_max_lat  > existing_min_lat
        ):
            return False

    return True

def update_extracts_json():
    # region_extracts[name] = {
    #   "bbox": coordinates,
    #   "dates": {
    #     "terrain": terrain_date,
    #     "vector": vector_date,
    #     "satellite": satellite_date,
    #   },
    # }
    region_extracts = defaultdict(
        lambda: dict(dates=defaultdict(dict)),
    )
    # region_extract_types[name] = {extract_type_1, extract_type_2, etc}
    region_extract_types = defaultdict(set)

    for full_path, region_extract_type, date, name in iter_region_files():
        output = subprocess.getoutput(PMTILES + " show " + full_path + " --header-json")
        coordinates = [float(coord) for coord in json.loads(output)["bounds"]]

        # Add coordinates unless it's for some reason inconsistent between satellite, vector, terrain.
        if name in region_extracts and region_extracts[name]['bbox'] != coordinates:
            raise Exception("Inconsistent coordinates between different region extracts for", name)
        if not re.match(r'\d{4}-\d{2}-\d{2}', date):
            raise Exception(f"Invalid date for {name}: {date}")
        region_extracts[name]["bbox"] = coordinates
        region_type_for_date = {
            's2maps-sentinel2-2023': 'satellite',
            'terrarium': 'terrain',
            'openstreetmap-openmaptiles': 'vector',
        }[region_extract_type]
        region_extracts[name]["dates"][region_type_for_date] = date
        region_extract_types[name].add(region_extract_type)

    for name in region_extract_types:
        if region_extract_types[name] != {'s2maps-sentinel2-2023', 'terrarium', 'openstreetmap-openmaptiles'}:
            print ("Warning: don't have all three types of ptiles files for:", name, "Have:", region_extract_types[name])
    extracts = {"regions": region_extracts}
    open(EXTRACTS_JSON, "w").write(json.dumps(extracts))

if __name__ == "__main__":
    match sys.argv[1]:
        case "update-json":
            assert len(sys.argv) == 2, "update-json takes no extra arguments"
            update_extracts_json()

        case "delete":
            assert len(sys.argv) == 3, "delete takes one argument: extract_name"
            extract_name = sys.argv[2]
            validate_extract_name(extract_name)

            delete_extract(extract_name=extract_name)
            update_extracts_json()

        case "extract":
            # Get and validate arguments
            assert len(sys.argv) in (4, 5), (
                "extract arguments are: `extract_name`, `extract_box`, and (optional) `noninteractive`"
            )

            extract_name = sys.argv[2]
            extract_box = sys.argv[3]
            noninteractive = sys.argv[4] if len(sys.argv) > 4 else ""

            validate_extract_name(extract_name)
            validate_extract_box(extract_box)
            validate_noninteractive(noninteractive)
            noninteractive = bool(noninteractive)

            # Check arguments against existing data
            update_extracts_json() # Make sure we have updated data before we check for overlaps
            if not check_for_overlaps(extract_box):
                if noninteractive:
                    sys.exit(0)
                else:
                    sys.exit("error: you cannot download overlapping full quality regions")
            if not check_for_existing_name(extract_name, noninteractive):
                if noninteractive:
                    sys.exit(0)
                else:
                    sys.exit(1)

            # Get a download estimate and give users a chance to back out
            if not noninteractive and not approve_download_size(extract_name):
                sys.exit(1)

            # Do the extracts
            create_extract(extract_name=extract_name, extract_box=extract_box)
            update_extracts_json() # Add the newly added extract

        case unknown:
            raise Exception("Unknown option:", unknown)
