[Unit]
Description=Wuzapi Whatsapp API Service
After=network.target postgresql.service

[Service]
Type=simple
User={{ iiab_admin_user }}
Group={{ iiab_admin_user }}
WorkingDirectory={{ wuzapi_dir }}
ExecStart={{ wuzapi_dir }}/wuzapi -port {{ wuzapi_port }} -admintoken "{{ wuzapi_admintoken }}" -logtype json -wadebug {{ wuzapi_debug }}
Restart=always
RestartSec=5
Environment=WUZAPI_ADMIN_TOKEN={{ wuzapi_admintoken }}

[Install]
WantedBy=multi-user.target
