<?php
$AUTOCONFIG = array(
  'directory'     => '{{ owncloud_data_dir }}',
  'trusted_domains' =>
    array (
     0 => '{{ xsce_hostname }}.{{ xsce_domain }}',
     1 => "{{ xsce_hostname }}",
     2 => 'localhost',
     3 => 'internet-in-a-box.lan',
     4 => 'internet-in-a-box',
     5 => 'schoolserver.lan',
     6 => 'schoolserver',
     7 => 'school.lan',
     8 => 'school',
     9 => 'box.lan',
     10 => 'box',
     11 => '172.18.96.1',
    ), 
  'overwrite.cli.url' => 'http://{{ xsce_hostname }}.{{ xsce_domain }}/owncloud',
  'dbtype' => 'mysql',
  'dbname' => '{{ owncloud_dbname }}',
  'dbhost' => '{{ owncloud_dbhost }}',
  'dbtableprefix' => '',
  'dbuser' => '{{ owncloud_dbuser }}',
  'dbpass' => '{{ owncloud_dbpassword }}',
  'adminlogin' => '{{ owncloud_admin_user }}',
  'adminpass' => '{{ owncloud_admin_password }}',
);
