Alias {{ owncloud_url }} {{ owncloud_prefix}}/owncloud

<Directory {{ owncloud_prefix }}/owncloud/>
    Options -Indexes

    <IfModule mod_authz_core.c>
    # Apache 2.4
    Require host localhost
    Require ip 127.0.0.1 {{lan_ip}}/{{lan_netmask}} {{ owncloud_required_ip }}
    </IfModule>
    <IfModule !mod_authz_core.c>
    # Apache 2.2
    Order Deny,Allow
    Deny from all
    Allow from 127.0.0.1
    Allow from ::1
    </IfModule>

    ErrorDocument 404 /core/templates/404.php

    <IfModule mod_php5.c>
    php_value upload_max_filesize 512M
    php_value post_max_size 512M
    php_value memory_limit 512M
    php_value mbstring.func_overload 0
    </IfModule>

    SetEnv htaccessWorking true

    <IfModule pagespeed_module>
    ModPagespeed Off
    </IfModule>

    RewriteEngine on
    RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization},last]
    RewriteRule ^\.well-known/carddav /remote.php/carddav/ [R]
    RewriteRule ^\.well-known/caldav /remote.php/caldav/ [R]
</Directory>
