# All URLs go to Gitea web server. Static content is bundled in the executable.
ProxyRequests off
ProxyPass {{ gitea_url }}/ http://localhost:{{ gitea_port }}/

<Location {{ gitea_url }}/>
  ProxyPassReverse /
  ProxyHTMLEnable On
  ProxyHTMLURLMap / {{ gitea_url }}/
  RequestHeader unset Accept-Encoding
</Location>

# Disable TRACE to prevent cross-site tracing
TraceEnable off
