# All URLs go to Gitea web server. Static content is bundled in the executable.
ProxyPreserveHost On
ProxyRequests off

<Proxy *>
  Order allow,deny
  Allow from all
</Proxy>

# Note: no trailing slash after either {{ gitea_url }} or port
ProxyPass {{ gitea_url }} http://localhost:{{ gitea_port }}
ProxyPassReverse {{ gitea_url}} http://localhost:{{ gitea_port }}

<Location {{ gitea_url }}/>
  RequestHeader unset Accept-Encoding
</Location>

RedirectMatch ^{{ gitea_url }}$ {{ gitea_url }}/

# Disable TRACE to prevent cross-site tracing
TraceEnable off
