# IIAB notes:
# /etc/nginx/conf.d/* are included by /etc/nginx/server.conf
# /etc/nginx/sites-enabled/*.conf includes other sites

user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
    worker_connections 768;
    # multi_accept on;
}

http {

    ##
    # Basic Settings
    ##

    sendfile on;
    tcp_nopush on;
    tcp_nodelay on;
    keepalive_timeout 65;
    types_hash_max_size 2048;

    # server_tokens off;

    server_names_hash_bucket_size 64;
    # server_name_in_redirect off;

    include /etc/nginx/mime.types;
    default_type text/html;

    ##
    # SSL Settings
    ##

    ssl_protocols TLSv1 TLSv1.1 TLSv1.2; # Dropping SSLv3, ref: POODLE
    ssl_prefer_server_ciphers on;

    ##
    # Logging Settings
    ##

    log_format awstats
    '$remote_addr - $remote_user [$time_local] "$request" '
    '$status $body_bytes_sent "$http_referer" '
    '"$http_user_agent" "http_x_forwarded_for"';

    access_log {{ nginx_log_dir }}/access.log awstats;
    error_log {{ nginx_log_dir }}/error.log;

    log_format scripts '$request > $document_root$fastcgi_script_name $fastcgi_path_info';
    access_log {{ nginx_log_dir }}/scripts.log scripts;

    ##
    # Gzip Settings
    ##

    gzip on;
    gzip_disable "msie6";

    # gzip_vary on;
    # gzip_proxied any;
    # gzip_comp_level 6;
    # gzip_buffers 16 8k;
    # gzip_http_version 1.1;
    # gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;

    # 2021-04-17: STANZA BELOW THANKS TO @georgejhunt FOR http://box/jupyterhub
    # SEE ALSO IIAB's: roles/jupyterhub/templates/jupyterhub-nginx.conf

    # top-level http config for websocket headers
    # If Upgrade is defined, Connection = upgrade
    # If Upgrade is empty, Connection = close
    map $http_upgrade $connection_upgrade {
        default upgrade;
        ''      close;
    }

    # 2021-06-22: Enables HTTP/1.1 byte-range, so Kolibri videos play on Apple
    # and LG devices: https://github.com/learningequality/kolibri/issues/8164
    # http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_force_ranges
    proxy_force_ranges on;

    ##
    # Virtual Host Configs
    ##

    # include a server file which in turn includes conf.d/*
    include /etc/nginx/server.conf;

    # include other sites
    include /etc/nginx/sites-enabled/*.conf;

    # define the upstream backend fastcgi for php
    upstream php {
        server  unix:/run/php/php{{ php_version }}-fpm.sock;
    }
           
}
