[Unit]
Description=Provides the kalite Server
After=syslog.target network.target local-fs.target

[Service]
Type=forking
Environment="KALITE_HOME={{ kalite_root }}"
ExecStart={{ kalite_program }} start {{ job_scheduler_stanza }}--port={{ kalite_server_port }}
ExecStop={{ kalite_program }} stop
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
