[Unit]
BindTo=%i.device
After=%i.device
After=systemd-udev-trigger.service
ConditionPathExists=/var/run

[Service]
#Type=oneshot
TimeoutStartSec=0
Environment=DEVNAME=%I
ExecStart=/usr/local/sbin/usbmount add
ExecStop=/usr/local/sbin/iiab-clean-usb.sh %I
ExecStopPost=/bin/umount /%I
RemainAfterExit=yes
RuntimeDirectory=usbmount
