[Unit]
Description=Node.js Sugarizer Server
Requires=mongodb.service
After=mongodb.service
# Requires mongodb service to run first

[Service]
WorkingDirectory=/opt/iiab/sugarizer-server/
ExecStart=/usr/bin/node /opt/iiab/sugarizer-server/sugarizer.js
Type=simple
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sugarizer
#User=<alternate user>
#Group=<alternate group>
#Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
