# sugarizer_port is set to 8089 in /opt/iiab/iiab/vars/default_vars.yml
# If you need to change this, edit /etc/iiab/local_vars.yml prior to installing

RedirectMatch ^/sugar$ /sugarizer

ProxyPass /sugarizer http://localhost:{{ sugarizer_port }}/sugarizer
ProxyPassReverse /sugarizer http://localhost:{{ sugarizer_port }}/sugarizer
