#!/bin/bash -x
# add await to asyncio change password function

# SITE_PACKAGES=$({{ jupyterhub_venv }}/bin/python -m site | grep -v exist | grep site)
# SITE_PACKAGES=${SITE_PACKAGES:5:-2}

SITE_PACKAGES=$({{ jupyterhub_venv }}/bin/python -m site | grep {{ jupyterhub_venv }} | grep /site-packages | cut -d\' -f2)
file=$SITE_PACKAGES/firstuseauthenticator/firstuseauthenticator.py

# file={{ jupyterhub_venv }}/lib/python{{ python_ver }}/site-packages/firstuseauthenticator/firstuseauthenticator.py
# e.g. /opt/iiab/jupyterhub/lib/python3.9/site-packages/firstuseauthenticator/firstuseauthenticator.py

if grep -q 'await self.render' $file; then
    echo Patch already applied. Skipping. . .
else
    echo Updating $file
    sed -i 's/self.render/await self.render/' $file
fi
