location ^/moodle {
    alias {{ moodle_base }};
    try_files $uri $uri/ index.php =404;
}

location /moodle/dataroot/ {
    internal;
    alias {{ moodle_data }};
}

location ~ /moodle/[^/]\.php(/|$) {
    include fastcgi_params;
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    fastcgi_read_timeout 300;
    fastcgi_pass php;
    fastcgi_index index.php;
    fastcgi_param   PATH_INFO        $fastcgi_path_info;
    fastcgi_param   SCRIPT_FILENAME    $fastcgi_script_name;
    fastcgi_param   PHP_VALUE "max_execution_time={{ max_execution_time }}\n upload_max_filesize={{ upload_max_filesize }}\n post_max_size={{ post_max_size }}\n max_input_vars={{ max_input_vars }}";
}
