network:
  ethernets:
    {{ item | trim }}:
      dhcp4: false
      dhcp6: false
      optional: true
      match:
        macaddress: {{ ansible_facts.ansible_{{ item | trim }}.macaddress }}
  bridges:
    br0:
      interfaces:
      - {{ item | trim }}
