network:
  ethernets:
    {{ item | trim }}:
      dhcp4: no
      dhcp6: no
{% if systemd_networkd_active and iiab_wireless_lan_iface is defined %}
    {{ iiab_wireless_lan_iface }}:
      dhcp4: no
      dhcp6: no
{% endif %}
  bridges:
    br0:
      interfaces:
      - {{ item | trim }}
{% if systemd_networkd_active and iiab_wireless_lan_iface is defined %}
      - {{ iiab_wireless_lan_iface }}
{% endif %}
