network:
  ethernets:
    {{ iiab_wireless_lan_iface }}:
      dhcp4: false
      dhcp6: false
      optional: true
      match:
        macaddress: {{ ap0_mac_addr }}
  bridges:
    br0:
      interfaces:
      - {{ iiab_wireless_lan_iface }}
