{% if wan_ip != "dhcp" %}
network:
    ethernets:
        {{ iiab_wan_iface }}:
            dhcp4: false
            dhcp6: false
            addresses: [{{ wan_ip }}/{{ CIDR.stdout }}]
            gateway4: {{ wan_gateway }}
            nameservers:
               addresses: [{{ wan_nameserver }}]
            optional: true
    version: 2
{% else %}
network:
    ethernets:
        {{ iiab_wan_iface }}:
            addresses: []
            dhcp4: true
            optional: true
    version: 2
{% endif %}
