{% if wan_ip != "dhcp" %}
network:
    ethernets:
        {{ iiab_wan_iface }}:
            addresses:
            - {{ wan_ip }}/{{ wan_cidr }}
            gateway4: {{ wan_gateway }}
            nameservers:
               addresses:
               - {{ wan_nameserver }}
               search:
               - {{ iiab_domain }}
            optional: true
    version: 2
{% else %}
network:
    ethernets:
        {{ iiab_wan_iface }}:
            addresses: []
            dhcp4: true
            optional: true
    version: 2
{% endif %}
