root@raspberrypi:/opt/iiab/iiab# cat /etc/dhcpcd.conf
# A sample configuration for dhcpcd.
# See dhcpcd.conf(5) for details.

# Allow users of this group to interact with dhcpcd via the control socket.
#controlgroup wheel

# Inform the DHCP server of our hostname for DDNS.
hostname

# Use the hardware address of the interface for the Client ID.
clientid
# or
# Use the same DUID + IAID as set in DHCPv6 for DHCPv4 ClientID as per RFC4361.
# Some non-RFC compliant DHCP servers do not reply with this set.
# In this case, comment out duid and enable clientid above.
#duid

# Persist interface configuration when dhcpcd exits.
persistent

# Rapid commit support.
# Safe to enable by default because it requires the equivalent option set
# on the server to actually work.
option rapid_commit

# A list of options to request from the DHCP server.
option domain_name_servers, domain_name, domain_search, host_name
option classless_static_routes
# Most distributions have NTP support.
option ntp_servers
# Respect the network MTU. This is applied to DHCP routes.
option interface_mtu

# A ServerID is required by RFC2131.
require dhcp_server_identifier

# Generate Stable Private IPv6 Addresses instead of hardware based ones
slaac private

# Example static IP configuration:
{% if iiab_lan_iface == br0 %}
interface br0
static ip_address=172.18.96.1/19
static domain_name_servers=172.18.96.1 127.0.0.1
{% endif %}

# assume /24 for now need to convet 255.255 to / for the ip
{% if gui_static_wan == true %}
interface {{ discovered_wan_iface/24 }}
static ip_address={{ gui_static_wan_ip }}
static gateway={{ gui_static_wan_gateway }}
static domain_name_servers={{ gui_static_wan_nameserver }}
{% endif %}
