# Never forward addresses in the non-routed address spaces.
bogus-priv
# Add local-only domains here, queries in these domains are answered　from /etc/hosts or DHCP only.
local=/{{ iiab_domain }}/
{% if dns_jail_enabled %}
# Make all host names resolve to the Raspberry Pi's IP address
address=/#/{{ lan_ip }}
{% endif %}
# Specify the interface that will listen for DHCP and DNS requests
interface={{ iiab_lan_iface }}
# Set the domain for dnsmasq
domain={{ iiab_domain }}
# don't use /etc/hosts
no-hosts
# instead use
addn-hosts=/etc/hosts.dnsmasq
# append 'local' to hostnames found
expand-hosts

# Specify the range of IP addresses the DHCP server will lease out to devices, and the duration of the lease
dhcp-range=172.18.100.1,172.18.126.254,1h
# Specify the default route
dhcp-option=3,{{ lan_ip }}
# Specify the DNS server address
dhcp-option=6,{{ lan_ip }}
# Set the DHCP server to authoritative mode.
dhcp-authoritative
