[connection]
id=iiab-wan-static
uuid={{ gen_uuid2 }}
type=802-3-ethernet
interface-name={{ iiab_wan_iface }}
permissions=

[ipv4]
method=manual
dns={{ wan_nameserver }};
dns-search={{ iiab_domain }};
addresses1={{ wan_ip }};{{ wan_cidr }};{{ wan_gateway }};
may-fail=true

[802-3-ethernet]
duplex=full

[ipv6]
method=link-local
may-fail=true
