# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

{% if iiab_network_mode == "Appliance"  %}
#################   APPLIANCE #########################
{% if dhcpcd_result != "enabled" or wan_in_interfaces == "false" %}
auto {{ iiab_wan_iface }}
iface {{ iiab_wan_iface }} inet dhcp
{% else %} # gui_static_wan_ip is set 
iface {{ iiab_wan_iface }} inet manual
{% endif %} {# end of dhcp_wan #}

{% if wan_ip != "dhcp" %}
auto {{ iiab_wan_iface }}
iface {{ iiab_wan_iface }} inet static
    address {{ wan_ip }}
    netmask {{ wan_netmask }}
    gateway {{ wan_gateway }}
    dns-nameservers {{ wan_nameserver }}
    dns-search {{ iiab_domain }}
{% endif %} {# end of static_wan #}
{% elif iiab_network_mode == "Gateway"  %}
#################   GATEWAY   #########################
auto br0
iface br0 inet static
    bridge_ports {% if iiab_wireless_lan_iface != "none" %} {{ iiab_wireless_lan_iface }} {% endif %} {% if discovered_lan_iface != "none" %} {{ discovered_lan_iface }} {% endif %}

    bridge_maxwait 0
    address {{ lan_ip }}
    netmask {{ lan_netmask }}
    dns-nameservers {{ lan_ip }}
{% if dhcpcd_result != "enabled" or wan_in_interfaces == "false" %}
auto {{ iiab_wan_iface }}
iface {{ iiab_wan_iface }} inet dhcp
{% else %} # gui_static_wan_ip is set 
iface {{ iiab_wan_iface }} inet manual
{% endif %} {# end of dhcp_wan #}

{% if wan_ip != "dhcp" %}
auto {{ iiab_wan_iface }}
iface {{ iiab_wan_iface }} inet static
    address {{ wan_ip }}
    netmask {{ wan_netmask }}
    gateway {{ wan_gateway }}
    dns-nameservers {{ wan_nameserver }}
    dns-search {{ iiab_domain }}
   {% endif %}
{% else  %} {# end of iiab_network_mode == Gateway #}

