# /etc/systemd/network/IIAB-Bridge.network
[Match]
Name=br0

[Network]
{% if network_172 %}
Address={{ lan_ip }}/19
{% else %}
Address={{ lan_ip }}/24
{% endif %}
LinkLocalAddressing=no
ConfigureWithoutCarrier=yes
RequiredForOnline=degraded-carrier
# Commenting the below line as it has been causing race/looping issues between dnsmasq and systemd-resolved
# IIAB ticket #1747
#DNS={{ lan_ip }}
Domains={{ iiab_domain }}


