# /etc/systemd/network/IIAB-Bridge.network
[Match]
Name=br0

[Network]
Bridge=br0
LinkLocalAddressing=no
DNS={{ lan_ip }}
Domains={{ iiab_domain }}

[Address]
Address={{ lan_ip }}/19

[Route]
Gateway=""
