# iiab_network_mode is {{ iiab_network_mode  }}
# gui_desired_network_role is {{ gui_desired_network_role }}

#################   WIRELESS #########################
{% if iiab_wireless_lan_iface != 'none' %}
# we always want the wireless to be configured (and under bridge) if it exists
auto {{ iiab_wireless_lan_iface }}
iface {{ iiab_wireless_lan_iface }} inet manual
   pre-up   ifconfig $IFACE up
   pre-down ifconfig $IFACE down
{% endif %}

{% if iiab_network_mode != "Appliance"  %}
#################   LANCONTROLLER   ###################
auto br0
iface br0 inet static
    bridge_ports {% if iiab_wireless_lan_iface != "none" %} {{ iiab_wireless_lan_iface }} {% endif %} {% if discovered_lan_iface != "none" %} {{ discovered_lan_iface }} {% endif %}

    bridge_maxwait 0
    address {{ lan_ip }}
    netmask {{ lan_netmask }}
    {% if iiab_network_mode == "Gateway"  %}
    gateway {{ lan_ip }}
    {% endif %}
    dns-nameservers {{ lan_ip }}
    dns-search {{ iiab_domain }}
{% endif %}
{# end LANCONTROLLER #}

{% if iiab_network_mode != "LanController"  %}
#################   GATEWAY or APPLIANCE #########################
{% if dhcpcd_result == "enabled" or wan_in_interfaces == "true" %}
# client or user defined
{% endif %}

{% if dhcpcd_result == "enabled" and is_rpi == "true" %}
#cover rpi
auto {{ iiab_wan_iface }}
iface {{ iiab_wan_iface }} inet manual
{% else %} # gui_static_wan_ip is set 
iface {{ iiab_wan_iface }} inet manual
{% endif %} {# end of dhcp_wan #}

{% if wan_ip != "dhcp" %}
auto {{ iiab_wan_iface }}
iface {{ iiab_wan_iface }} inet static
    address {{ wan_ip }}
    netmask {{ wan_netmask }}
    gateway {{ wan_gateway }}
    dns-nameservers {{ wan_nameserver }}
    dns-search {{ iiab_domain }}
   {% endif %}
{% endif %} {# end of static_wan #}
{# end of iiab_network_mode != LanController #}
