# /etc/systemd/network/IIAB-Static.network
[Match]
Name={{ iiab_wan_iface }}

[Network]
Address={{ wan_ip }}/{{ wan_cidr }}
Gateway={{ wan_gateway }}
LinkLocalAddressing=yes
DNS={{ wan_nameserver }}
Domains={{ iiab_domain }}
