auto {{ iiab_wan_iface }}
{% if gui_static_wan == false %}
iface {{ iiab_wan_iface }} inet dhcp
{% else %} # gui_static_wan_ip is set
iface {{ iiab_wan_iface }} inet static
    address {{ gui_static_wan_ip }}
    netmask {{ gui_static_wan_netmask }}
    gateway {{ gui_static_wan_gateway }}
    dns-nameservers {{ gui_static_wan_nameserver }}
    dns-search {{ iiab_domain }}
{% endif %} {# end of static_wan #}

