ProxyPreserveHost On
ProxyRequests Off
ProxyPass /{{ nodered_web_path }}/debug/ws ws://localhost:{{ nodered_port }}/{{ nodered_web_path }}/debug/ws
ProxyPass /{{ nodered_web_path }}/comms ws://localhost:{{ nodered_port }}/{{ nodered_web_path }}/comms
ProxyPass /{{ nodered_web_path }}  http://localhost:{{ nodered_port }}/{{ nodered_web_path }}
ProxyPassReverse /{{ nodered_web_path }}  http://localhost:{{ nodered_port }}/{{ nodered_web_path }}
