# 'nodered_port: 1880' is set in /opt/iiab/iiab/vars/default_vars.yml
# https://github.com/iiab/iiab/wiki/IIAB-Networking#list-of-ports--services

location /nodered/ {
    proxy_pass http://127.0.0.1:{{ nodered_port }}/nodered/;
}

location /nodered/debug/ws/ {
    proxy_pass http://127.0.0.1:{{ nodered_port }}/nodered/debug/ws;
}

location /nodered/comms/ {
    proxy_pass http://127.0.0.1:{{ nodered_port }}/nodered/comms;
}
