# 'nodered_port: 1880' is set in /opt/iiab/iiab/vars/default_vars.yml
# https://github.com/iiab/iiab/wiki/IIAB-Networking#list-of-ports--services

location /nodered/ {
    proxy_pass http://127.0.0.1:{{ nodered_port }}/nodered/;

    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
}

#location /nodered/debug/ws/ {
#    proxy_pass http://127.0.0.1:{{ nodered_port }}/nodered/debug/ws;
#
#    proxy_http_version 1.1;
#    proxy_set_header Upgrade $http_upgrade;
#    proxy_set_header Connection "upgrade";
#}

#location /nodered/comms/ {
#    proxy_pass http://127.0.0.1:{{ nodered_port }}/nodered/comms;
#
#    proxy_http_version 1.1;
#    proxy_set_header Upgrade $http_upgrade;
#    proxy_set_header Connection "upgrade";
#}
