[Unit]
Description=DHCPv4 Server Daemon
After=syslog.target network.target

[Service]
EnvironmentFile=/etc/sysconfig/dhcpd
ExecStart=/usr/sbin/dhcpd -f --no-pid $DHCPDARGS

[Install]
WantedBy=multi-user.target
