<?php
$AUTOCONFIG = array(
  'directory'     => '{{ nextcloud_data_dir }}',
  'trusted_domains' =>
    array (
     0 => '{{ iiab_hostname }}.{{ iiab_domain }}',
     1 => "{{ iiab_hostname }}",
     2 => 'localhost',
     3 => 'internet-in-a-box.lan',
     4 => 'internet-in-a-box',
     5 => 'schoolserver.lan',
     6 => 'schoolserver',
     7 => 'school.lan',
     8 => 'school',
     9 => 'box.lan',
     10 => 'box',
     11 => '172.18.96.1',
    ), 
  'overwrite.cli.url' => 'http://{{ iiab_hostname }}.{{ iiab_domain }}/nextcloud',
  'dbtype' => 'mysql',
  'dbname' => '{{ nextcloud_dbname }}',
  'dbhost' => '{{ nextcloud_dbhost }}',
  'dbtableprefix' => '',
  'dbuser' => '{{ nextcloud_dbuser }}',
  'dbpass' => '{{ nextcloud_dbpassword }}',
  'adminlogin' => '{{ nextcloud_admin_user }}',
  'adminpass' => '{{ nextcloud_admin_password }}',
);
