# replaces stock moodle.conf installed by moodle-xs.rpm
Alias /moodle /var/www/moodle/web

# Moodle public web pages - must be publically accessible
<Directory /var/www/moodle/web>
  Require all granted
</Directory>

# Moodle private data - must NOT be publically accessible
<Directory /var/www/moodle/data>
  Require all denied
</Directory>
