location ~ ^/phpmyadmin/(.*)\.php{
    alias /opt/phpmyadmin/$1.php;
    proxy_set_header X-Real-IP  $remote_addr;
    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_set_header Host $host;
    fastcgi_pass php;
    fastcgi_index index.php;
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    fastcgi_param   SCRIPT_FILENAME    $document_root$fastcgi_script_name;
    fastcgi_param   SCRIPT_NAME        $fastcgi_script_name;
    include fastcgi_params;
}
location /phpmyadmin{
   root /opt;
}
