[Unit]
Description=Minetest Server
After=network.target

[Service]
Type=simple
WorkingDirectory={{ minetest_working_dir }}
ExecStart={{ minetest_server_bin }} --port {{ minetest_port }} --config {{ minetest_config_file }} --logfile /var/log/minetest/minetest.log --world {{ minetest_world_dir }}
Restart=on-abort

[Install]
WantedBy=multi-user.target
