# Admin name
name = {{ minetest_server_admin }}

# Name of server
server_name = Internet in a Box Minetest Server

# Automaticaly report to masterserver
# set to true for public servers
server_announce = false

# Default game (default when creating a new world)
default_game = {{ minetest_default_game }}

# Maximum number of players connected simultaneously
max_users = 15

# Whether to enable players killing each other
enable_pvp = false

# Set to true to enable creative mode (unlimited inventory)
creative_mode = true

# Enable players getting damage and dying
enable_damage = true

# Available privileges: interact, shout, teleport, settime, privs, ...
# See /privs in game for a full list on your server and mod configuration.
default_privs = interact, shout, teleport, settime, privs

# For mods
spawn_friendly_mobs = true
spawn_hostile_mobs = false

{% if minetest_flat_world %}
mg_name = flat
{% endif %}
