[Unit]
Description=Internet Archive Universal Library service
After=network-online.target

[Service]
Type=simple
WorkingDirectory={{ internetarchive_dir }}/node_modules/@internetarchive/dweb-mirror
ExecStart=/usr/bin/node ./internetarchive -s
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=internetarchive

[Install]
WantedBy=multi-user.target

