# Configuration file for the httpd service.
# earlier XS httpd passed memory size as command line variable
# systemd requires that this be done at setup time in httpd.conf
#
#
OPTIONS=" -f conf/httpd-xs.conf 


