Alias /info/ {{ xsce_dir }}/docs/html/
Alias /info {{ xsce_dir }}/docs/html/

<directory {{ xsce_dir }}/docs/html>
   Options +Indexes
   IndexOptions FancyIndexing
   IndexOptions HTMLTable
   IndexOptions SuppressColumnsorting
   IndexOptions Charset=UTF-8
   Require all granted
</directory>
