[Unit]
Description=Celery service
After=network.target
After=lokole.service
Before=celerybeat.service

[Service]
Type=simple
WorkingDirectory={{ lokole_run_directory }}
EnvironmentFile={{ lokole_run_directory }}/settings.env
User={{ lokole_user }}
Group={{ lokole_user }}
ExecStart={{ lokole_venv }}/bin/celery --app=opwen_email_client.webapp.tasks worker --pidfile={{ lokole_run_directory }}/CELERY_WORKER.pid --logfile={{ lokole_log_directory }}/CELERY_WORKER.log --loglevel=info --concurrency=2
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill TERM $MAINPID

[Install]
WantedBy=multi-user.target
