[Unit]
Description=Celery beat timed service
After=network.target
After=celery.service
Before=lokole_restarter.service

[Service]
Type=simple
ExecStart={{lokole_venv}}/bin/celery --app=opwen_email_client.webapp.tasks beat --loglevel=info

[Install]
WantedBy=multi-user.target
