[Unit]
Description=Celery service
After=network.target
After=lokole.service
Before=celerybeat.service

[Service]
Type=simple
WorkingDirectory={{ lokole_run_directory }}
PIDFile={{ lokole_run_directory }}/CELERY_WORKER.pid
EnvironmentFile={{ lokole_run_directory }}/settings.env
ExecStart={{ lokole_run_directory }}/run-celery.sh
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill TERM $MAINPID

[Install]
WantedBy=multi-user.target
