[Unit]
Description=Celery beat timed service
After=network.target
After=celery.service
Before=lokole_restarter.service

[Service]
Type=simple
WorkingDirectory={{ lokole_run_directory }}
PIDFile={{ lokole_run_directory }}/CELERY_BEAT.pid
EnvironmentFile={{ lokole_run_directory }}/settings.env
ExecStart={{ lokole_run_directory }}/celerybeat.sh

[Install]
WantedBy=multi-user.target
