[Unit]
Description=Celery service
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash {{ lokole_run_directory }}/run-celery.sh
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill TERM $MAINPID

[Install]
WantedBy=multi-user.target
