[Unit]
Description=Lokole Celery Worker
After=network.target lokole-gunicorn.service

[Service]
Type=simple
User={{ lokole_user }}
Group={{ lokole_user }}
WorkingDirectory={{ lokole_install_path }}
EnvironmentFile={{ lokole_settings }}
ExecStart={{ lokole_venv }}/bin/celery \
    --app=opwen_email_client.webapp.tasks \
    worker \
    --loglevel=error \
    --concurrency=2 \
    --logfile={{ lokole_log_dir }}/celery_worker.log
Restart=always
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
