[Unit]
Description=Lokole webapp restarter
After=network.target
After=celerybeat.service

[Service]
Type=simple
WorkingDirectory={{ lokole_run_directory }}
ExecStart={{ lokole_venv }}/bin/manage.py restarter --directory={{ lokole_run_directory }}

[Install]
WantedBy=multi-user.target
