[program:lokole_gunicorn]
command={{ lokole_venv }}/bin/gunicorn --bind=unix:{{ lokole_run_dir }}/lokole_gunicorn.sock --timeout=300 --workers=3 --log-level=error opwen_email_client.webapp:app
autostart=true
autorestart=true
startretries=3
stopasgroup=true
stderr_logfile={{ lokole_log_dir }}/lokole_gunicorn.stderr.log
stdout_logfile={{ lokole_log_dir }}/lokole_gunicorn.stdout.log
user={{ lokole_user }}
environment=OPWEN_SETTINGS={{ lokole_settings }}
