[Unit]
Description=Lokole Gunicorn Web Server
After=network.target

[Service]
Type=simple
User={{ lokole_user }}
Group={{ lokole_user }}
WorkingDirectory={{ lokole_install_path }}
EnvironmentFile={{ lokole_settings }}
ExecStart={{ lokole_venv }}/bin/gunicorn \
    --bind=127.0.0.1:{{ lokole_gunicorn_port }} \
    --timeout=300 \
    --workers=3 \
    --log-level=error \
    --error-logfile={{ lokole_log_dir }}/gunicorn_error.log \
    --access-logfile={{ lokole_log_dir }}/gunicorn_access.log \
    opwen_email_client.webapp:app
Restart=always
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
