# Root directory goes to Lokole web server
ProxyPass {{ lokole_url }}  http://unix:{{lokole_domain_socket}}

# /static directory is stored on filesystem
Alias {{ lokole_url }}/static {{ lokole_install_path }}

<Directory {{ lokole_install_path }}>
    Options Indexes FollowSymLinks

    # Don't allow modifications in static directory
    Require all granted
    <LimitExcept GET HEAD OPTIONS>
        Require all denied
    </LimitExcept>
</Directory>

# Disable TRACE to prevent cross-site tracing
TraceEnable off
