[Unit]
Description=Lokole webapp restarter
After=network.target
After=celerybeat.service

[Service]
Type=simple
WorkingDirectory={{ lokole_run_directory }}
EnvironmentFile={{ lokole_run_directory }}/settings.env
ExecStart={{ lokole_run_directory }}/webapp-restart.sh

[Install]
WantedBy=multi-user.target
