location = {{ lokole_url }}/favicon.ico {
    alias {{ lokole_venv }}/lib/python{{ python_version }}/site-packages/opwen_email_client/webapp/static/favicon.ico;
}

location ~ ^{{ lokole_url }}/static/(.*)$ {
    alias {{ lokole_venv }}/lib/python{{ python_version }}/site-packages/opwen_email_client/webapp/static/$1;
}

location {{ lokole_url }}/ {
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_pass http://unix:/{{ lokole_domain_socket }};
}
