[program:lokole_celery_worker]
command={{ lokole_venv }}/bin/celery --app=opwen_email_client.webapp.tasks worker --loglevel=error --concurrency=2
autostart=true
autorestart=true
startretries=3
stopasgroup=true
stderr_logfile={{ lokole_log_dir }}/lokole_celery_worker.stderr.log
stdout_logfile={{ lokole_log_dir }}/lokole_celery_worker.stdout.log
user={{ lokole_user }}
environment=OPWEN_SETTINGS={{ lokole_settings }}
