[Unit]
Description=Lokole Service Restarter
After=network.target lokole-gunicorn.service lokole-celery-worker.service lokole-celery-beat.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory={{ lokole_install_path }}
Environment="FLASK_APP=opwen_email_client.webapp"
EnvironmentFile={{ lokole_settings }}
ExecStart={{ lokole_venv }}/bin/flask manage restarter \
    --directory={{ lokole_run_dir }}/lokole_restarter
Restart=always
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
