[Unit]
Description=Lokole Celery Beat Scheduler
After=network.target lokole-gunicorn.service

[Service]
Type=simple
User={{ lokole_user }}
Group={{ lokole_user }}
WorkingDirectory={{ lokole_install_path }}
EnvironmentFile={{ lokole_settings }}
ExecStart={{ lokole_venv }}/bin/celery \
    --app=opwen_email_client.webapp.tasks \
    beat \
    --pidfile={{ lokole_run_dir }}/celery_beat.pid \
    --loglevel=error \
    --logfile={{ lokole_log_dir }}/celery_beat.log
Restart=always
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
