#!/usr/bin/env sh
#. '{{ lokole_run_directory }}/webapp_secrets.sh'

'{{ lokole_venv }}/bin/celery' \
  '--uid={{ lokole_uid }}' \
  '--gid={{ lokole_uid }}' \
  '--app=opwen_email_client.webapp.tasks' \
  'worker' \
  '--pidfile={{ lokole_run_directory }}/CELERY_WORKER.pid' \
  '--logfile={{ lokole_log_directory }}/CELERY_WORKER.log' \
  '--loglevel=info' \
  '--concurrency=2'
