OPWEN_SETTINGS='{{ lokole_run_directory }}/settings.env'
OPWEN_STATE_DIRECTORY='{{ lokole_run_directory }}'
OPWEN_APP_ROOT='{{ lokole_url }}/'
OPWEN_MAX_UPLOAD_SIZE_MB=10
OPWEN_SYNC_SCHEDULE='1,16,31,46 * * * *'
OPWEN_SESSION_KEY='{{ lookup('password', '/dev/null chars=ascii_letters,digits,_ length=32') }}'
OPWEN_PASSWORD_SALT='{{ lookup('password', '/dev/null chars=ascii_letters,digits,_ length=16') }}'
OPWEN_SIM_TYPE='{{ lokole_sim_type }}'

OPWEN_ROOT_DOMAIN='lokole.ca'
OPWEN_EMAIL_SERVER_HOSTNAME='mailserver.lokole.ca'
OPWEN_STORAGE_ACCOUNT_HOST='mailserver.lokole.ca'
