OPWEN_SETTINGS={{ lokole_run_dir }}/settings.env
OPWEN_STATE_DIRECTORY={{ lokole_run_dir }}
OPWEN_APP_ROOT={{ lokole_url }}/
OPWEN_MAX_UPLOAD_SIZE_MB=10
OPWEN_SYNC_SCHEDULE="1,16,31,46 * * * *"
OPWEN_RESTART_PATH={{ lokole_run_dir }}/lokole_restarter/lokole_gunicorn=HUP,{{ lokole_run_dir }}/lokole_restarter/lokole_celery_worker=,{{ lokole_run_dir }}/lokole_restarter/lokole_celery_beat=
OPWEN_SESSION_KEY={{ lokole_key }}
OPWEN_SECRET_KEY={{ lokole_key }}
OPWEN_PASSWORD_SALT={{ lokole_salt }}
OPWEN_SIM_TYPE={{ lokole_sim_type }}
OPWEN_CLIENT_NAME={{ lokole_client_id }}
