export OPWEN_SIM_TYPE='{{ lokole_sim_type }}'
export OPWEN_STATE_DIRECTORY='{{ lokole_run_directory }}'
export OPWEN_APP_ROOT='{{ lokole_url }}'
export OPWEN_MAX_UPLOAD_SIZE_MB=10
export OPWEN_SYNC_SCHEDULE='1,16,31,46 * * * *'
export OPWEN_SESSION_KEY='{{ lookup('password', '/dev/null chars=ascii_letters,digits,_ length=32') }}'
export OPWEN_PASSWORD_SALT='{{ lookup('password', '/dev/null chars=ascii_letters,digits,_ length=16') }}'
