export OPWEN_STATE_DIRECTORY='{{lokole_run_directory}}'
export OPWEN_SESSION_KEY='{{ lookup('password', '/dev/null chars=ascii_letters,digits,_ length=32 encrypt=no') }}'
export OPWEN_PASSWORD_SALT='{{ lookup('password', '/dev/null chars=ascii_letters,digits,_ length=16 encrypt=no') }}'
export OPWEN_CLIENT_NAME='iiab-{{ iiab_hostname }}'
