export OPWEN_STATE_DIRECTORY='{{lokole_run_directory}}'
export OPWEN_MAX_UPLOAD_SIZE_MB=10
export OPWEN_SYNC_SCHEDULE=1,16,31,46
export OPWEN_SESSION_KEY='{{ lookup('password', '/dev/null chars=ascii_letters,digits,_ length=32') }}'
export OPWEN_PASSWORD_SALT='{{ lookup('password', '/dev/null chars=ascii_letters,digits,_ length=16') }}'
# stock layout with added variables above able comment out and use either the next two - unlocks setting tab
export OPWEN_SIM_TYPE=LocalOnly
#export OPWEN_SIM_TYPE='Ethernet'
#export OPWEN_SIM_TYPE=hologram

# name to register with the master server must be unused and unique needs token
#export OPWEN_CLIENT_NAME=jvtest2
export OPWEN_CLIENT_NAME='{{ iiab_hostname }}'

# other noted variables in play
#export OPWEN_EMAIL_SERVER_HOSTNAME=mailserver.lokole.ca
#export OPWEN_APP_ROOT=
#this is the default when not defined
#export OPWEN_ROOT_DOMAIN=lokole.ca
# this was the override with LocalOnly
#export OPWEN_ROOT_DOMAIN='{{ iiab_domain }}'
