#!/usr/bin/env sh
. '${opwen_webapp_envs}'

'{{lokole_venv}}/bin/gunicorn' \\
  --timeout='300' \\
  --workers='${opwen_webapp_workers}' \\
  --bind='unix:{{lokole_domain_socket}}' \\
  --log-level='error' \\
  'opwen_email_client.webapp:app'
