#!/usr/bin/env sh
#. '{{ lokole_run_directory }}/webapp_secrets.sh'

'{{ lokole_venv }}/bin/gunicorn' \
  --timeout='300' \
  --workers='{{ [4, ansible_memtotal_mb / 200] | min | int }}' \
  --bind='unix:{{ lokole_domain_socket }}' \
  --log-file='{{ lokole_log_directory }}/LOKOLE.log' \
  --log-level='error' \
  'opwen_email_client.webapp:app'
