[Unit]
Description=Provides the kalite Server
After=syslog.target network.target local-fs.target

[Service]
Type=forking
PIDFile={{ kalite_root }}/kalite/runcherrypyserver.pid
ExecStart=/usr/bin/su {{ kalite_user }} -c '/usr/bin/python {{ kalite_root }}/kalite/manage.py kaserve host=0.0.0.0 port={{ kalite_server_port }} daemonize=true production=true pidfile={{ kalite_root }}/kalite/runcherrypyserver.pid'
TimeoutStartSec=400

[Install]
WantedBy=multi-user.target
