#!/bin/bash
if [[ $(id -un) != "root" ]]; then
    echo -e "\nPlease run: sudo kolibri\n"
    exit 1
fi

export KOLIBRI_HOME={{ kolibri_home }}
/usr/sbin/runuser {{ kolibri_user }} -g www-data -s /bin/bash -c /usr/bin/kolibri $@

