# SEE https://github.com/iiab/iiab/blob/master/roles/kiwix/templates/kiwix.conf.j2
RedirectMatch ^{{ kolibri_url }}$ {{ kolibri_url }}/

ProxyPreserveHost   On
ProxyPass           {{ kolibri_url }}          http://localhost:{{ kolibri_http_port }}{{ kolibri_url }}
ProxyPassReverse    {{ kolibri_url }}          http://localhost:{{ kolibri_http_port }}{{ kolibri_url }}
