@charset "UTF-8";

.xsce-top-nav {
  background: #E5CF87;
}
.xsce-left-nav {
  background: #CFE8BE;
}

.nav>li>a {
font-size: medium;
}

.action-buttons {
/* width: 70%; */
margin-bottom: 1.5em;
margin-top: 1em;
}

.action-buttons button {
	width: 14.5em;
	text-align: left;
	margin-bottom: 1em;
}

.pane-buttons {
width: 50%;
margin-bottom: 1.5em;
margin-top: 1em;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
color: #555;
cursor: default;
background-color: #F0B343;
border: 1px solid #ddd;
border-bottom-color: transparent;
}

.nav-tabs>li>a {
margin-right: 2px;
line-height: 1.42857143;
border: 1px solid transparent;
border-radius: 8px 8px 0 0;
}

/* Install Content styles */

.modal.modal-wide .modal-dialog {
  width: 90%;
}

.modal-wide .modal-body {
  overflow-y: auto;
}

#ZimDownload h2 {
	font-size: 18px;
	font-weight: 700;
	margin-left: 5px;
}

#ZimDownload h3 {
	font-size: 16px;
	font-weight: 700;
	margin-left: 5px;
}

#ZimDownload label {
	font-weight: 600;
	margin-left: 10px;
}

.lang-list {
	margin-top: 10px;
  margin-bottom: 10px;
}

.lang-codes {
	display:inline-block;
	width:20em;
}

#ZimLanguages2 {
	display: none;
}

.installed {
	color:green;
	font-weight: 700;
}

.scheduled {
	color:blue;
	font-weight: 700;
}

.zim-desc {
	display: inline-block;
  width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: text-bottom;
  white-space: nowrap;
  margin-right: 8px;
}

/* Util styles */

#jobStatTable {
	margin-top: 20px;
}

.jobTable {
	width:100%;
	padding: 4px;
	vertical-align: top;
}

.jobTable tr, td{
	padding: 4px;
	vertical-align: top;
}

.statusJobResult {
	/* width:100%; */
	max-height:8em;
	overflow-y:auto;
	overflow-x:hidden;
}

#statusJobsRefreshTime {
	padding-left:20px;
}
