[Unit]
Description=Magrit
After=network-online.target

[Service]
Type=oneshot
ExecStart={{ magrit_venv }}/magrit_app/app,py --port {{ magrit_port }} --address {{ lan_ip }}

[Install]
WantedBy=multi-user.target

