export TEXTDOMAIN=Linux-PAM

. gettext.sh

if [ -e /run/iiab-provision ] ; then
    echo
	echo $(/usr/bin/gettext "iiab-provision service is currently running....")
	echo $(/usr/bin/gettext "tail {{ iiab_dir }}/iiab-configure.log to check its progress")
	echo
fi

