<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="js/admin_console.js"></script>
</head>
<body>



					<h2>Install World Map, Select Region</h2>
					<p>The World Map is based upon OpenStreetMap Data. It includes regional views of the whole world and details of a region you can select.</p>
					<div class="row">
						<div class="col-sm-4"><span  >Disk Space: <span id="osmDiskSpace"></span> </span></div>
						<div class="col-sm-2"><button id="INST-MODS" type="button" class="btn btn-lg btn-primary">Install Detailed Region</button></div>
					</div>

					<div id="osmRegionSelection" >
               <style>
                  #map-container{
                    background-color: #b2d3f8; 
                    float: right;
                    width: 70%;
                    right: 10px;
                    height: 500px;
                  }
                </style>
                  <div id="map-container"></div>

              </div>
            <div id='regionlist'>placeholdr</div>
				</div> <!--  End instOsmRegion Submenu Option Pane -->
            <script src="js/map_functions.js"></script>
            <script src="/common/assets/map.js"></script>
</body>
</html>
