<!DOCTYPE html>
<html lang="en">
<head>
  <title>Osm-Vector Splash Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src='/common/js/jquery.min.js'></script>
</head>
<body>



					<h2>Vector Maps Test Page -- Use The Admin Console to Download a Selected Region</h2>
					<p>The IIAB vector maps are based upon OpenStreetMap Data. Each map has general geographic information that covers the <b>whole world </b>with a resolution of about 5 KM. The detailed regions provide data about items that are 5 meters apart. </p>
					<div class="row">
					<div class="col-sm-12"><a href="/admin"><button  id="INST-MODS" type="button" class="btn btn-lg btn-primary">Go To Admin Console</button></a></div>
					</div>

					<div id="osmRegionSelection" >
               <style>
                  #map-container{
                    background-color: #b2d3f8; 
                    float: right;
                    width: 70%;
                    right: 10px;
                    height: 500px;
                  }
                  body {
                    padding: 40px;
                  }
                </style>
                  <div id="map-container"></div>

              </div>
            <div id='regionlist'>placeholdr</div>
				</div> <!--  End instOsmRegion Submenu Option Pane -->
            <script>
               function readableSize(kbytes) {
                 if (kbytes == 0)
                 return "0";
                 var bytes = 1024 * kbytes;
                 var s = ['bytes', 'kB', 'MB', 'GB', 'TB', 'PB'];
                 var e = Math.floor(Math.log(bytes) / Math.log(1024));
                 return (bytes / Math.pow(1024, e)).toFixed(2) + " " + s[e];
               }
            </script>
            <script src="osm_functions.js"></script>
            <script>
               window.$ = window.$ = jQuery;
               $.when(readOsmCatalog()).done(function() {
                     renderRegionList(false);
               });
            </script>
</body>
</html>
