[Desktop Entry]
Name[en_US]=iiab-network
Comment[en_US]=iiab-network
Name[en_CA]=iiab-network
Comment[en_CA]=iiab-network
Type=Application
Exec=/usr/local/sbin/netwarn
Hidden=false
Name=iiab-network
Comment=iiab-network
