## XS Config override
##
## This file has an ".in" template - for details see
##  see /usr/share/doc/xs-config-<version>/README 

###
### XS overrides - we will point named
### to a different non-conflicting config file
### IPv6 is disabled until we have verified that the XS's IPv6 setup
### is sane (#11630)
###
OPTIONS='-4 -c /etc/named-xs.conf'

# Currently, you can use the following options:
#
# ROOTDIR="/some/where"  --  will run named in a chroot environment.
#                            you must set up the chroot environment 
#                            (install the bind-chroot package) before
#                            doing this.
#
# OPTIONS="whatever"     --  These additional options will be passed to named
#                            at startup. Don't add -t here, use ROOTDIR instead.
#
# ENABLE_ZONE_WRITE=yes  --  If SELinux is disabled, then allow named to write
#                            its zone files and create files in its $ROOTDIR/var/named
#                            directory, necessary for DDNS and slave zone transfers.
#                            Slave zones should reside in the $ROOTDIR/var/named/slaves
#                            directory, in which case you would not need to enable zone
#                            writes. If SELinux is enabled, you must use only the 
#                            'named_write_master_zones' variable to enable zone writes.
#
# ENABLE_SDB=yes         --  This enables use of 'named_sdb', which has support
#		         --  for the ldap, pgsql and dir zone database backends
#		         --  compiled in, to be used instead of named.
#
# DISABLE_NAMED_DBUS=[1y]--  If NetworkManager is enabled in any runlevel, then 
# 			     the initscript will by default enable named's D-BUS
#			     support with the named -D option. This setting disables
#			     this behavior.
#
