<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Code On The Go - App Dev for All</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="static/css/main.css">
  <link rel="icon" type="image/png" href="static/icons/favicon.png">
  <!-- Markdown parser & loader -->
  <script src="static/js/marked.min.js"></script>
  <script defer src="static/js/main.js"></script>
</head>
<body>
  <header class="site-header">
    <div class="container">
      <h1 class="site-title">Code On The Go - App Dev for All</h1>
      <div class="lang-selector">
      <img
          src="static/icons/icon_language.svg"
          alt=""
          class="i18n-icon-img"
          aria-hidden="true">
        <select id="lang-switch">
          <option value="en">English</option>
          <option value="es">Español</option>
        </select>
      </div>
    </div>
  </header>

  <main class="site-main">
    <div class="container content">
    <img
        src="static/icons/Hello_world.png"
        alt="Hello_world"
        class="top-image">
      <!-- main.js will inject the HTML converted from en.md / es.md -->
      <div id="content"></div>
    </div>
  </main>

  <footer class="site-footer">
    <div class="container">
      <small>Last website built: {{ code_play_build_date }}</small>
    </div>
  </footer>
</body>
</html>
