<VirtualHost *:80>

ServerName pbx.lan

ServerAdmin admin@box.lan
DocumentRoot /var/www/html/

<Directory {{ freepbx_install_dir }}>
        Require all granted
</Directory>

<IfModule mpm_itk_module>
AssignUserId asterisk asterisk
</IfModule>

ErrorLog ${APACHE_LOG_DIR}/pbx-error.log
CustomLog ${APACHE_LOG_DIR}/pbx-access.log combined

</VirtualHost>
