<VirtualHost *:{{ pbx_http_port }}>

ServerAdmin admin@box.lan
DocumentRoot /var/www/html/

<Directory {{ freepbx_install_dir }}>
        AllowOverride All
        Options Indexes FollowSymLinks
        Require all granted
</Directory>

<IfModule mpm_itk_module>
AssignUserId asterisk asterisk
</IfModule>

php_value session.save_path /var/lib/php/asterisk_sessions/

ErrorLog ${APACHE_LOG_DIR}/pbx-error.log
CustomLog ${APACHE_LOG_DIR}/pbx-access.log combined

</VirtualHost>
