[Unit]
Description=FreePBX VoIP Server
After=mysql.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/fwconsole start
ExecStop=/usr/sbin/fwconsole stop
# 2021-08-04: Does this help Asterisk (re)start reliably, as FreePBX install completes?
# PR #2908: https://github.com/iiab/iiab/blob/master/roles/pbx/tasks/enable-or-disable.yml
RestartSec=3

[Install]
WantedBy=multi-user.target
