[MySQL-asteriskcdrdb]
Description=MySQL connection to 'asteriskcdrdb' database
driver=MySQL
server=localhost
database={{ asterisk_db_cdrdbname }}
Port=3306
Socket=/var/run/mysqld/mysqld.sock
option=3
