<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title> RACHEL - HOME</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="/rachel/style.css">
</head>

<body OnLoad="document.search.query.focus();">
<a id="rachel">Rachel</a>

<div id="haut">
		<ul class="menuhaut" >
			<li><a href="{{ rachel_url }}/index.html">HOME</a></li>
			<li><a href="{{ rachel_url }}/about.html">ABOUT</a></li>
		</ul>
<div id="searchdiv">

<form action="/sphider/search.php" method="get" id="searchform" name="search">
<input type="text" name="query" id="query" size="55" value="" action="include/js_suggest/suggest.php" columns="2" autocomplete="off" delay="1500"> <input type="submit" value="Search RACHEL">
<input type="hidden" name="search" value="1">
</form>

</div>
</div>



<div id="content">



<div class="thumblist">
<a name="search"></a>
<h3>Search Results</h3> 

<ul>
<li>


<!-- END HEADER -->


