location /stat {
	rtmp_stat all;
	rtmp_stat_stylesheet stat.xsl;
}
location /stat.xsl {
	root {{ doc_root }}/{{ cham_html_dir }};
}
location /hls {
	# Serve HLS fragments

	# CORS setup
	add_header 'Access-Control-Allow-Origin' '*' always;
	add_header 'Access-Control-Expose-Headers' 'Content-Length';

	# allow CORS preflight requests
	if ($request_method = 'OPTIONS') {
		add_header 'Access-Control-Allow-Origin' '*';
		add_header 'Access-Control-Max-Age' 1728000;
		add_header 'Content-Type' 'text/plain charset=UTF-8';
		add_header 'Content-Length' 0;
		return 204;
	}

	types {
		application/vnd.apple.mpegurl m3u8;
		video/mp2t ts;
	}

	root {{ streaming_root }};
	add_header Cache-Control no-cache;
}
