[Unit]
Description=Provides the kalite Cron Server
After=syslog.target network.target kalite-serve.service
Wants=kalite-serve.service

[Service]
Type=forking
ExecStart={{ kalite_root }}/scripts/xsce_cronservectl.sh start
ExecStop={{ kalite_root }}/scripts/xsce_cronservectl.sh stop

[Install]
WantedBy=multi-user.target
