<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=.75">
    <title>Success</title>
    <style type="text/css">
      @media (min-width: 501px){
          #header {
             display: block;
             height: 120px;
             width:1024px;
             background: #000 url('iiab_banner6.png') no-repeat 0 0;
             border-radius: 5px;
             margin: 5px;
          }
         body {
             background-color: #CBFFAA;
             font-family: sans-serif;
             font-size: 100%;
             width: 1024px;
             margin: 3px;
         }
      }
      .button {
           font: bold 14px Arial;
           text-decoration: none;
           background-color: #EEEEEE;
           color: #333333;
           padding: 2px 6px 2px 6px;
           border-top: 1px solid #CCCCCC;
           border-right: 1px solid #333333;
           border-bottom: 1px solid #333333;
           border-left: 1px solid #CCCCCC;
           radius: 5px;
      }
    </style>
  </head>
  <body>
     Success
     <br>
     <div align="center">
		<div id="header"></div>
      <H1>Welcome to IIAB</H1>
      <br><br>
      {{ message }}
      <div id="choices">
         <br><br>
      <br><br>
      <br><br>
      <br><br>
         <a class="button" href="http://server.lan/home">{{ btn1 }}</a>
      </div>
  </body>
</html>
