<!DOCTYPE html>
<html>
  <head>
    <title>Success</title>
    <meta name="viewport" content="width=device-width, initial-scale=.75">
    <script src="/jquery.min.js"></script>
<!--    <link rel="stylesheet" href="/bootstrap.min.css"/>
    <script src="/bootstrap.min.js"></script> -->
    <style type="text/css">
      @media (max-width: 500px){
          #header {
             display: block;
             height: 120px;
             width:350px;
             background: #000 url('iiab_banner6.png') no-repeat 0 0;
             border-radius: 5px;
             margin: 5px;
          }
         body {
             background-color: #CBFFAA;
             font-family: sans-serif;
             font-size: 100%;
             width: 350px;
             margin: 3px;
         }
      }
      @media (min-width: 501px){
          #header {
             display: block;
             height: 120px;
             width:1024px;
             background: #000 url('iiab_banner6.png') no-repeat 0 0;
             border-radius: 5px;
             margin: 5px;
          }
         body {
             background-color: #CBFFAA;
             font-family: sans-serif;
             font-size: 100%;
             width: 1024px;
             margin: 3px;
         }
      }
      a {
          color: #249;
          text-decoration: none;
          outline: none; /* don't outline image links (ff) */
      }
      .content-item {
          padding: 10px 0 10px 0;
          border: 1px solid #aaa;
          border-radius: 5px;
          margin-bottom: 2px;
          background-color: #fff;
      }
      .button {
           font: bold 14px Arial;
           text-decoration: none;
           background-color: #EEEEEE;
           color: #333333;
           padding: 2px 6px 2px 6px;
           border-top: 1px solid #CCCCCC;
           border-right: 1px solid #333333;
           border-bottom: 1px solid #333333;
           border-left: 1px solid #CCCCCC;
           radius: 5px;
      }
    </style>
    <script>
     var w = window.innerWidth;
     function homeclick(){
        window.open("http://server.lan/home","_system");
        $.ajax("/home_selected");
     }

    </script>
  </head>
  <body>
     {% if success_token is defined %}
     Success
     {% endif %}
     <br>
     <div align="center">
		<div id="header"></div>
      <H1>Welcome to IIAB</H1>
      <br><br>
      {{ message }}
      <div id="choices">
         {% if btn2 is defined %}
         <a class="button" href="https://captive.lan/android_splash">{{ btn2 }}</a>
         {% endif %}
         <br><br>
      <br><br>
      <br><br>
      <br><br>
      <!--     <a class="button" href="http://box.lan/home">{{ btn1 }}</a> -->
         <a class="button" onclick="homeclick()">{{ btn1 }}</a>
      </div>
  </body>
</html>
