RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^/admin(.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

Alias /admin "{{ admin_console_path }}"
<VirtualHost *:443>
  ServerName "schoolserver.lan"
  AddExternalAuth pwauth /usr/sbin/pwauth
  SetExternalAuthMethod pwauth pipe
  SSLEngine on
{% if is_debian %}
  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined
  SSLCertificateFile	/etc/ssl/certs/ssl-cert-snakeoil.pem
  SSLCertificateKeyFile /etc/ssl/private/ssl-cert-snakeoil.key
{% else %}
  SSLCertificateFile /etc/pki/tls/certs/localhost.crt
  SSLCertificateKeyFile /etc/pki/tls/private/localhost.key
{% endif %}
  BrowserMatch "MSIE [2-6]" \
		nokeepalive ssl-unclean-shutdown \
		downgrade-1.0 force-response-1.0
  # MSIE 7 and newer should be able to use keepalive
  BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown
  <Directory "{{ admin_console_path }}">
    AuthType Basic
    AuthName "Admin Console"
    AuthBasicProvider external
    AuthExternal pwauth
    require valid-user
  </Directory>
</VirtualHost>
