Alias /admin "{{ admin_console_path }}"

<Directory "{{ admin_console_path }}">
    AuthType Basic
    AuthName "Admin Console"
    AuthBasicProvider external
    AuthExternal pwauth
    require valid-user
</Directory>

{% if is_debian %}
<IfModule mod_authnz_external.c>
    AddExternalAuth pwauth /usr/sbin/pwauth
    SetExternalAuthMethod pwauth pipe
</IfModule>
{% endif %}
