[uwsgi]
   uid = {{ apache_user }}
   gid = {{ apache_user }}
   http-socket = :{{ captiveportal_port }}
   chdir = /opt/iiab/captiveportal
   wsgi-file = capture-wsgi.py
   master = true
   plugins = python3
   py-autoreload = 2
