location = {{ anki_url }} {
    return 301 {{ anki_url }}/;
}

location {{ anki_url }}/ {
    client_max_body_size {{ anki_max_sync_payload_megs }}m;
    proxy_pass http://127.0.0.1:{{ anki_port }}/;
    proxy_http_version 1.1;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_read_timeout 3600s;
    proxy_send_timeout 3600s;
}
