# IIAB constants

iiab_etc_path = '{{ iiab_etc_path }}'
iiab_env_file = '{{ iiab_env_file }}'
iiab_ini_file = '{{ iiab_ini_file }}'
iiab_local_vars_file = '{{ iiab_local_vars_file }}'
iiab_base = '{{ iiab_base }}'
iiab_repo_dir = '{{ iiab_dir }}'
iiab_state_file = '{{ iiab_state_file }}'

osm_cat_path = iiab_etc_path + '/map-catalog.json'
viewer_path = '{{ vector_map_path }}' + '/viewer'
#osm_viewer_path = '{{ vector_map_path }}' + '/viewer' # proposed
#osm_viewer_dir = '{{ vector_map_path }}' + '/viewer' # proposed
sat_dir = '{{ vector_map_path }}' + '/viewer/tiles'
#sat_tiles_path = '{{ vector_map_path }}' +  '/viewer/  # proposed
#sat_tiles_dir = '{{ vector_map_path }}' +  '/viewer/  # proposed
osm_dir = '{{ vector_map_path }}' + '/maplist/assets'
#maplist_path = '{{ vector_map_path }}' + '/maplist/assets'  # proposed
#maplist_dir = '{{ vector_map_path }}' + '/maplist/assets'  # proposed
working_dir = '/library/working'

kiwix_cat_path = iiab_etc_path + '/kiwix_catalog.json'
zim_path = '{{ iiab_zim_path }}'
kiwix_library_xml = zim_path + '/library.xml'
iiab_base_path = '{{ iiab_base }}'
kiwix_manage = iiab_base_path + '/kiwix/bin/kiwix-manage'

doc_root = '{{ doc_root }}'
assets_dir = doc_root + '/common/assets/'
lang_codes_path = assets_dir + 'lang_codes.json'

old_zim_map = {"bad.zim" : "unparseable name"}
