# IIAB constants

iiab_etc_path = '{{ iiab_etc_path }}'
iiab_env_file = '{{ iiab_env_file }}'
iiab_ini_file = '{{ iiab_ini_file }}'
iiab_local_vars_file = '{{ iiab_local_vars_file }}'
iiab_base = '{{ iiab_base }}'
iiab_repo_dir = '{{ iiab_dir }}'
iiab_state_file = '{{ iiab_state_file }}'

kiwix_cat_path = '{{ content_info }}' + '/kiwix_catalog.json'
zim_path = '{{ iiab_zim_path }}'
kiwix_library_xml = zim_path + '/library.xml'
iiab_base_path = '{{ iiab_base }}'
kiwix_manage = iiab_base_path + '/kiwix/bin/kiwix-manage'

doc_root = '{{ doc_root }}'
assets_dir = doc_root + '/common/assets/'
lang_codes_path = assets_dir + 'lang_codes.json'

old_zim_map = {"bad.zim" : "unparseable name"}
