[Unit]
Description=Check Firmware service
Before=clone-wifi.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/check-firmware

[Install]
WantedBy=multi-user.target

