[Unit]
Description=Check Firmware service
Before=iiab-clone-wifi.service

[Service]
Type=oneshot
ExecStart=/usr/bin/iiab-check-firmware

[Install]
WantedBy=multi-user.target
