[Unit]
Description=XS authentication server
After={{ apache_service }}.service local-fs.target

[Service]
EnvironmentFile=-/etc/sysconfig/xs-authserver
ExecStart=/usr/bin/gunicorn -n xs-authserver xs_authserver:app -b 0.0.0.0:5000

[Install]
WantedBy=multi-user.target
