[Unit]
Description=Provides the Kiwix ZIM File Server
After=syslog.target network.target local-fs.target

[Service]
Type=forking
ExecStart={{ iiab_base }}/kiwix/bin/kiwix-serve --daemon --port {{ kiwix_port }} --nolibrarybutton --library {{ kiwix_library_xml }}

[Install]
WantedBy=multi-user.target
