[Unit]
Description=Provides the Kiwix Zim File Server
After=syslog.target network.target local-fs.target

[Service]
Type=forking
ExecStart={{ xsce_base }}/kiwix/bin/kiwix-serve --daemon --port {{ kiwix_port }} --library {{ kiwix_library_xml }} 

[Install]
WantedBy=multi-user.target
