# 2018-08-31: FAILS to enable http://box/kiwix
#RewriteEngine on
#RewriteRule ^{{ kiwix_alias_url }}$ {{ kiwix_url }} [R]

# 2018-08-31: SUCCEEDS in enabling http://box/kiwix
RedirectMatch ^{{ kiwix_alias_url }}$ {{ kiwix_url }}

#ProxyPreserveHost On
ProxyPass {{ kiwix_url }} http://127.0.0.1:{{ kiwix_port}}{{ kiwix_url }}
#ProxyPassReverse {{ kiwix_url }} http://127.0.0.1:{{ kiwix_port}}{{ kiwix_url }}
