location ^~ {{ kiwix_url }} {    # ^~ allows articles like ".apple" to be shown: https://www.digitalocean.com/community/tutorials/understanding-nginx-server-and-location-block-selection-algorithms#how-nginx-chooses-which-location-to-use-to-handle-requests
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header Host      $http_host;
    proxy_http_version 1.1;
    proxy_set_header Connection "";
    proxy_connect_timeout {{ kiwix_nginx_timeout }};
    proxy_send_timeout {{ kiwix_nginx_timeout }};
    proxy_read_timeout {{ kiwix_nginx_timeout }};
    send_timeout {{ kiwix_nginx_timeout }};
    proxy_pass http://127.0.0.1:3000;
}
