[Unit]
Description=RapidPro Archiver Service
After=network.target postgresql.service {{ valkey_service_name }}

[Service]
User={{ iiab_admin_user }}
Group={{ iiab_admin_user }}
WorkingDirectory={{ rapidpro_dir }}

Environment='ARCHIVER_DB=postgres://{{ rapidpro_db_user }}:{{ rapidpro_db_pass }}@localhost/{{ rapidpro_db_name }}?sslmode=disable'
Environment='ARCHIVER_S3_REGION=us-east-1'
Environment='ARCHIVER_S3_BUCKET=rapidpro-archive'
Environment='ARCHIVER_S3_KEY=dummy'
Environment='ARCHIVER_S3_SECRET=dummy'
Environment='ARCHIVER_S3_ENDPOINT=http://localhost:1'
Environment='ARCHIVER_VERBOSE=1'

ExecStart=/usr/local/bin/rp-archiver
Restart=on-failure

[Install]
WantedBy=multi-user.target
