[Unit]
Description=RapidPro Celery Worker
After=network.target postgresql.service {{ valkey_service_name }}
Wants=postgresql.service {{ valkey_service_name }}

[Service]
User={{ iiab_admin_user }}
Group={{ iiab_admin_user }}
WorkingDirectory={{ rapidpro_dir }}
# Run worker and beat together for simplicity in this setup
ExecStart={{ poetry_env_path }}/bin/celery -A temba worker -l info -B
Restart=on-failure

[Install]
WantedBy=multi-user.target
