[Unit]
Description=RapidPro Dynalite (DynamoDB Mock)
After=network.target

[Service]
User={{ iiab_admin_user }}
Group={{ iiab_admin_user }}
ExecStart=/usr/bin/dynalite --port 6000 --path {{ rapidpro_dir }}/dynamo
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
