[Unit]
Description=RapidPro Gunicorn App Server
After=network.target postgresql.service {{ valkey_service_name }}
Wants=postgresql.service {{ valkey_service_name }}

[Service]
User={{ iiab_admin_user }}
Group=www-data
WorkingDirectory={{ rapidpro_dir }}
RuntimeDirectory=rapidpro
ExecStart={{ poetry_env_path }}/bin/gunicorn temba.wsgi:application --access-logfile - --error-logfile - --workers 3 --bind "unix:/run/rapidpro/gunicorn.sock" --forwarded-allow-ips="*"

[Install]
WantedBy=multi-user.target
