location = {{ rapidpro_url }} {
    return 301 {{ rapidpro_url }}/;
}

location {{ rapidpro_url }}/static/ {
    alias {{ rapidpro_dir }}/sitestatic/;
}

location {{ rapidpro_url }}/media/ {
    alias {{ rapidpro_dir }}/media/;
}

location {{ rapidpro_url }}/ {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_pass http://unix:{{ rapidpro_dir }}/run/gunicorn.sock;
}
