[Unit]
Description=RapidPro Gunicorn App Server
After=network.target

[Service]
User={{ iiab_admin_user }}
Group=www-data
WorkingDirectory={{ rapidpro_dir }}
ExecStart={{ poetry_env_path }}/bin/gunicorn temba.wsgi:application --access-logfile - --error-logfile - --workers 3 --bind "unix:{{ rapidpro_dir }}/run/gunicorn.sock?umask=007"

[Install]
WantedBy=multi-user.target
