[Unit]
Description=RapidPro Courier Service
After=network.target postgresql.service {{ valkey_service_name }}

[Service]
User={{ iiab_admin_user }}
Group={{ iiab_admin_user }}
WorkingDirectory={{ rapidpro_dir }}

# Use Valkey and disable cloud dependencies
Environment='COURIER_DB=postgres://{{ rapidpro_db_user }}:{{ rapidpro_db_pass }}@localhost/{{ rapidpro_db_name }}?sslmode=disable'
Environment='COURIER_VALKEY=valkey://localhost:6379/0'
Environment='COURIER_SPOOL_DIR={{ rapidpro_dir }}/spool/courier'
Environment='COURIER_DYNAMO_ENDPOINT=http://localhost:1'
Environment='COURIER_S3_ENDPOINT=http://localhost:1'

ExecStart=/usr/local/bin/rapidpro-courier
Restart=on-failure

[Install]
WantedBy=multi-user.target
