div.u2uform {
    text-align:center;
    width:260px;
    max-width:350px;
    float:right;
    color: #fff;
}
@media (max-width:768px) {
    div.u2uform {
        float:none !important;
        margin:auto;
    }
}
form {
    background-color: #333;
    border-radius:.3rem;
    padding:.5rem;
}
button {
    background-color: #ddd;
    border: none;
    border-radius: .3rem;
    color: #333;
    padding: .25rem .25rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .85rem;
    font-weight: bold;
    width: 225px;
    cursor: pointer; 
}
button:hover {
    color: #666;
}
span {
    display:block;
    margin-top:5px;
    text-align:center;
    font-size:.8rem;
}
.overlay {
    background-color:#000;
    border:none;
    border-radius:.8rem;
    padding:1rem;
    color:#fff;
    z-index:2;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    margin-top: -180px;
    margin-left: -180px;
    text-align:center;
    font-size:.8rem;
}

.overlay-inner {
    border-radius:0.8rem;
    background-color:#eee;
    color:#333;
    padding-right: 5rem;
    padding-left: 5rem;
    height: 90%;
    width: 60%;
}

@media (max-width:768px) {
    .overlay {
        display: flex;
	position: relative;
	top: auto;
	left: auto;
        margin: auto;
	width:auto;
    }
    .overlay-inner {
	width:70%;
    }
}

.overlay.fade-out {
    -webkit-animation: fade-ol 5s 1;
    -moz-animation: fade-ol 5s 1;
    -o-animation: fade-ol 5s 1;
    animation: fade-ol linear 5s 1 normal;
    animation-fill-mode: forwards;
}
@-webkit-keyframes fade-ol {
    0% {opacity: 1;}
    40% {opacity: 1;}
    100% {opacity: 0;}
}
@-moz-keyframes fade-ol {
    0% {opacity: 1;}
    40% {opacity: 1;}    
    100% {opacity: 0;}
}
@-o-keyframes fade-ol {
    0% {opacity: 1;}
    40% {opacity: 1;}    
    100% {opacity: 0;}
}
@keyframes fade-ol {
    0% {opacity: 1;}
    40% {opacity: 1;}    
    100% {opacity: 0;}
}
span {
    overflow-wrap: break-word;
}

