[Unit]
Description=Magrit
After=network-online.target

[Service]
Type=simple
WorkingDirectory={{ archorg_dir }}
ExecStart=/usr/bin/node {{ archorg_dir }}/mirrorHTTP.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=archorg

[Install]
WantedBy=multi-user.target

